flows.json
[{"id":"24572482.d3f29c","type":"tab","label":"Front","disabled":false,"info":""},{"id":"9499084827933322","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"06afd692f88faa11","type":"websocket-listener","path":"/ws","wholemsg":"false"},{"id":"f4996a01.b3ce68","type":"template","z":"24572482.d3f29c","name":"index","field":"body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"    <div class=\"row\">\n      <div class=\"col-12\">\n        <div class=\"row row-cards\">\n            \n          <div class=\"col-3 text-white\">\n            <a class=\"col-12 btn btn-success\" href=\"/checks\">\n              <div class=\"text-center\">\n                <div class=\"text-right\" id=\"check_healthy_percentage\">0%\n                </div>\n                <div class=\"h1 m-0\" id=\"check_healthy\">0</div>\n                <div class=\"mb-4\">Healthy</div>\n              </div>\n            </a>\n          </div>\n          <div class=\"col-3 text-white\">\n            <a class=\"col-12 btn btn-danger\" href=\"/issues\">\n              <div class=\"text-center\">\n                <div class=\"text-right\" id=\"check_issues_percentage\">0%\n                </div>\n                <div class=\"h1 m-0\" id=\"check_issues\">0</div>\n                <div class=\" mb-4\">Issues</div>\n              </div>\n            </a>\n          </div>\n          <div class=\"col-2 text-white\">\n            <a class=\"col-12 btn btn-secondary\" href=\"/issues\">\n              <div class=\"text-center\">\n                <div class=\"text-right\" id=\"check_pending_percentage\">0%\n                </div>\n                <div class=\"h1 m-0\" id=\"check_pending\">0</div>\n                <div class=\"text-white mb-4\">Pending</div>\n              </div>\n            </a>\n          </div>\n          <div class=\"col-2 text-white\">\n            <a class=\"col-12 btn btn-info\" href=\"/checks\">\n              <div class=\"text-center text-white\">\n                <div class=\"text-right\" id=\"check_url_percentage\">0%\n                </div>\n                <div class=\"h1 m-0\"  id=\"check_url\">0</div>\n                <div class=\"text-white mb-4\">Valid</div>\n              </div>\n            </a>\n          </div>\n          <div class=\"col-2 text-white\">\n            <a class=\"col-12 btn btn-primary\" href=\"/checks\">\n              <div class=\"text-center\">\n                <div class=\"text-right\" id=\"check_active_percentage\">0%\n                </div>\n                <div class=\"h1 m-0\" id=\"check_active\">0</div>\n                <div class=\"text-white mb-4\">Active</div>\n              </div>\n            </a>\n          </div>\n\n        </div>\n        <br>\n        <div class=\"row row-cards\">\n          <div class=\"col-12\">\n            <div class=\"card\">\n              <table class=\"table card-table table-borderless table-vcenter\">\n                <tbody>\n                  <tr>\n                    <td class=\"text-secondary\">Status 1xx</td>\n                    <td class=\"text-right\">\n                      <h3><span class=\"badge bg-secondary text-white\" id=\"check_status1\">0</span></h3>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"text-success\"><strong>Status 2xx</strong></td>\n                    <td class=\"text-right\">\n                      <h3><span class=\"badge bg-success text-white\" id=\"check_status2\">0</span></h3>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"text-info\"><strong>Status 3xx</strong></td>\n                    <td class=\"text-right\">\n                      <h3><span class=\"badge bg-info text-white\" id=\"check_status3\">0</span></h3>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"text-warning\"><strong>Status 4xx</strong></td>\n                    <td class=\"text-right\">\n                      <h3><span class=\"badge bg-warning text-white\" id=\"check_status4\">0</span></h3>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"text-danger\"><strong>Status 5xx</strong></td>\n                    <td class=\"text-right\">\n                      <h3><span class=\"badge bg-danger text-white\" id=\"check_status5\">0</span></h3>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"text-secondary\">Status Pending</td>\n                    <td class=\"text-right\">\n                      <h3><span class=\"badge bg-secondary text-white\" id=\"check_status6\">0</span></h3>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"text-danger\">Status error</td>\n                    <td class=\"text-right\">\n                    <h3><span class=\"badge bg-danger text-white\">0</span></h3>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n          </div>\n        </div>\n      </div>\n    </div>\n","output":"str","x":450,"y":220,"wires":[["c4482de57443f263"]]},{"id":"7f912e8e.c48f7","type":"http in","z":"24572482.d3f29c","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":250,"y":160,"wires":[["f4996a01.b3ce68"]]},{"id":"b583827d.61835","type":"template","z":"24572482.d3f29c","name":"checks","field":"body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"card\">\n                    <div class=\"card-header bg-transparent\">\n                        <h3 class=\"card-title\">Checks  (<span id=\"badge_checks_count\">0</span>) </h3>\n                        <div class=\"block\">\n                            <span class=\"card-options\">\n                                <a class=\"btn btn-danger btn-sm\" href=\"/issues\">Issues <span class=\"badge bg-warning\" id=\"badge_issues_count\">0</span></a>\n                            </span>\n                            <span class=\"card-options\" style=\"float:right;\">\n                                <a class=\"btn btn-success btn-sm ml-1\" href=\"/api/checks\" target=\"_blank\">JSON</a>\n                            </span>\n                        </div>\n                    </div>\n                    <div class=\"table-responsive\">\n                        <table class=\"table card-table table-vcenter\">\n                            <thead>\n                                <tr>\n                                    <th colspan=2>Active</th>\n                                    <th>Name</th>\n                                    <th>Cron</th>\n                                    <th>Url</th>\n                                    <th>Method</th>\n                                    <th>Status</th>\n                                    <th></th>\n                                </tr>\n                            </thead>\n\n                            <tbody id=\"listbody\">\n                            </tbody>\n                        </table>\n                    </div>\n                </div>\n            </div>\n        </div>\n","output":"str","x":460,"y":280,"wires":[["c4482de57443f263"]]},{"id":"71a35f77.f189e","type":"http in","z":"24572482.d3f29c","name":"","url":"/checks","method":"get","upload":false,"swaggerDoc":"","x":270,"y":280,"wires":[["b583827d.61835"]]},{"id":"9c8d00b1.bef26","type":"template","z":"24572482.d3f29c","name":"admin","field":"body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"row\">\n                    <div class=\"col-md-12\">\n                        <div class=\"card\">\n                            <div class=\"card-header bg-transparent\">\n                                <h3 class=\"card-title\">Configuration</h3>\n                                <span class=\"card-options\" style=\"float:right;\">\n                                    <a class=\"btn btn-success btn-sm ml-1\" id=\"configLink\" href=\"/api/config\" target=\"_blank\">JSON</a>\n                                </span>\n                            </div>\n                            <div class=\"card-body\">\n                                <p><a href=\"/settingsEdit\"><button class=\"btn btn-info text-white\"> Edit</button></a></p>\n                                <p><strong>YoctuMail:</strong> <code id=\"config_yoctu\"></code></p>\n                                <p><strong>Webhook:</strong> <code id=\"config_webhook\"></code></p>\n                                <p><strong>Prometheus:</strong> <code id=\"config_prometheus\"></code></p>\n                                <p><strong>Elastic:</strong> <code id=\"config_elastic\"></code></p>\n                            </div>\n                        </div>\n                    </div>\n                </div><br>\n                <div class=\"row\">\n                    <div class=\"col-md-12\">\n                        <div class=\"card\">\n                            <div class=\"card-header bg-transparent\">\n                                <h3 class=\"card-title\">Export/Import</h3>\n                            </div>\n                            <div class=\"card-body\">\n                                <a href=\"/api/export\" download=\"export.json\" id=\"export\"><button class=\"btn btn-info text-white\" id=\"export\"> Export</button></a><br>\n                                <form action=\"/api/import\" id=\"import\" method=\"POST\" enctype=\"multipart/form-data\">\n                                    <input type=\"file\" id=\"import\" name=\"files\">\n                                    <input class=\"btn btn-info text-white\" type=\"submit\">\n                                </form>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>","output":"str","x":450,"y":340,"wires":[["c4482de57443f263"]]},{"id":"175f7df5.cb4982","type":"http in","z":"24572482.d3f29c","name":"","url":"/admin","method":"get","upload":false,"swaggerDoc":"","x":270,"y":340,"wires":[["9c8d00b1.bef26"]]},{"id":"b494167e.d7c988","type":"template","z":"24572482.d3f29c","name":"new","field":"body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"row\">\n                    <div class=\"col-12\">\n                        <div class=\"card text-white bg-success text-center\" id=\"card_created\" style=\"display:none;\">\n                            <div class=\"card-body\"></div>\n                        </div>\n                        <div class=\"card\">\n                            <div class=\"card-header bg-transparent\">\n                                <h3 class=\"card-title\">New Check</h3>\n                            </div>\n                            <div class=\"card-body\">\n                                    <div class=\"form-inputs\">\n                                        <div class=\"form-group check_name\">\n                                            <label class=\"form-control-label\" for=\"check_name\">Name \n                                                <abbr title=\"required\">*</abbr>\n                                            </label>\n                                            <input class=\"form-control\" type=\"text\" id=\"check_name\" />\n                                        </div>\n                                        <fieldset class=\"form-group check_active\">\n                                            <div class=\"form-check form-inline\">\n                                                <input class=\"form-check-input\" type=\"checkbox\" value=\"1\" id=\"check_active\" checked/>\n                                                <label class=\"form-check-label\" for=\"check_active\">Active</label></div>\n                                                <input class=\"form-check-input\" type=\"checkbox\" value=\"1\" id=\"check_force\" checked/>\n                                                <label class=\"form-check-label\" for=\"check_force\">Force</label></div>\n                                        </fieldset>\n                                        <div class=\"form-group check_cron\">\n                                            <label class=\"form-control-label\" for=\"check_cron\">Cron \n                                                <abbr title=\"required\">*</abbr>\n                                            </label>\n                                            <select class=\"form-select\" id=\"check_cron\">\n                                                <option selected>5</option>\n                                                <option>2</option>\n                                                <option>1</option>\n                                            </select>\n                                        </div>\n                                        <div class=\"form-group check_shaq\">\n                                            <label class=\"form-control-label\" for=\"check_url\">Url \n                                                <abbr title=\"required\">*</abbr>\n                                            </label>\n                                            <input class=\"form-control string\" type=\"url\" id=\"check_url\" />\n                                        </div>\n                                        <div class=\"form-group check_method\">\n                                            <label class=\"form-control-label\" for=\"check_method\">Method \n                                                <abbr title=\"required\">*</abbr>\n                                            </label>\n                                            <select class=\"form-control\" id=\"check_method\">\n                                                <option>GET</option>\n                                                <option>POST</option>\n                                                <option>PUT</option>\n                                                <option>PATCH</option>\n                                            </select>\n                                        </div>\n                                        <div class=\"form-group check_header\">\n                                            <label class=\"form-control-label\" for=\"check_header\">Header </label>\n                                            <input class=\"form-control\" type=\"text\" id=\"check_header\" />\n                                        </div>\n                                        <div class=\"form-group check_status\">\n                                            <label class=\"form-control-label\" for=\"check_status\">Status Code \n                                                <abbr title=\"required\">*</abbr>\n                                            </label>\n                                            <input class=\"form-control\" type=\"text\" id=\"check_status\" value=\"200\"/>\n                                        </div>\n                                    </div>\n                                    <div class=\"form-actions m-3\">\n                                        <input type=\"submit\" name=\"commit\" id=\"commit\" value=\"Create Check\"\n                                            class=\"btn btn btn-primary\" data-disable-with=\"Create Check\" />\n                                    </div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>","output":"str","x":450,"y":400,"wires":[["c4482de57443f263"]]},{"id":"951b126e.0b354","type":"http in","z":"24572482.d3f29c","name":"","url":"/new","method":"get","upload":false,"swaggerDoc":"","x":260,"y":400,"wires":[["b494167e.d7c988"]]},{"id":"3ff70c3d.b03a84","type":"http response","z":"24572482.d3f29c","name":"","statusCode":"","headers":{},"x":1010,"y":380,"wires":[]},{"id":"9d52906f.e063f","type":"template","z":"24572482.d3f29c","name":"display","field":"body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"row\">\n                    <div class=\"col-12\">\n                        <div class=\"card text-white bg-danger\" id=\"card_deleted\" style=\"display:none;\">\n                            <div class=\"card-body\">\n                                Check deleted.\n                            </div>\n                        </div>\n                        <br>\n                        <div class=\"card\" id=\"card_is_deleted\">\n                            <div class=\"card-header bg-transparent\">\n                                <h3 id=\"display_name_title\" class=\"card-title\"></h3>\n                                <div class=\"card-options text-right\">\n                                    <a class=\"btn btn-success btn-sm\" id=\"check_json\" href=\"\" target=\"_blank\">JSON</a>\n                                </div>\n                            </div>\n                            <div class=\"card-body\">\n                                <p>\n                                    <a class=\"btn btn-outline-info btn-sm\" id=\"check_edit\" href=\"\"> Edit</a>\n                                    <a class=\"btn btn-outline-primary btn-sm\" id=\"check_now\" href=\"#\"> Check Now</a>\n                                    <div id=\"notice\"></div>\n                                </p>\n                                <p>\n                                    <strong>Name:</strong>\n                                    <span class=\"text-green\" id=\"check_name\"></span>\n                                </p>\n                                <p>\n                                    <strong>Active:</strong>\n                                    <span class=\"text-green\" id=\"check_active\"></span>\n                                </p>\n                                <p>\n                                    <strong>Force:</strong>\n                                    <span class=\"text-green\" id=\"check_force\"></span>\n                                </p>\n                                <p>\n                                    <strong>Cron:</strong>\n                                    <select class=\"form-control\" id=\"check_cron\" readonly>\n                                        <option>5</option>\n                                        <option>2</option>\n                                        <option>1</option>\n                                    </select>\n                                </p>\n                                <p>\n                                    <strong>URL:</strong>\n                                    <a id=\"check_url\" href=\"\"></a>\n                                </p>\n                                <p>\n                                    <div class=\"form-inline form-group\">\n                                        <label for=\"method\"><strong>Method:  </strong></label>\n                                        <select class=\"form-control\" id=\"check_method\" readonly>\n                                            <option>GET</option>\n                                            <option>POST</option>\n                                            <option>PUT</option>\n                                            <option>PATCH</option>\n                                        </select>\n                                    </div>\n                                </p>\n                                <p>\n                                    <strong>Header:</strong>\n                                    <span id=\"check_header\"></span>\n                                </p>\n                                <p>\n                                    <strong>Status:</strong>\n                                    <span class=\"text-success\">\n                                        <strong  id=\"check_status\"></strong>\n                                    </span>\n                                </p>\n                                <p>\n                                    <strong>Created date:</strong>\n                                    <span id=\"check_creation\"></span>\n                                </p>\n                                <p>\n                                    <strong>Last contact:</strong>\n                                    <span id=\"check_last\"></span>\n                                </p>\n                                <p>\n                                    <btn class=\"btn btn-outline-danger btn-sm\" id=\"check_delete\"> Delete</a>\n                                </p>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>","output":"str","x":460,"y":460,"wires":[["c4482de57443f263"]]},{"id":"35c9552f.a366ba","type":"http in","z":"24572482.d3f29c","name":"","url":"/display/:id?","method":"get","upload":false,"swaggerDoc":"","x":280,"y":460,"wires":[["9d52906f.e063f"]]},{"id":"df19c676.6e67f8","type":"template","z":"24572482.d3f29c","name":"edit","field":"body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"      <div class=\"row\">\n        <div class=\"col-12\">\n          <div class=\"card text-white bg-success\" id=\"card_updated\" style=\"display:none;\">\n            <div class=\"card-body\">\n                Check updated.\n            </div>\n          </div>\n          <br>\n          <div class=\"row\">\n            <div class=\"col-md-8\">\n                <div class=\"card\">\n                    <div class=\"card-header bg-transparent\">\n                        <h3 class=\"card-title\">Editing Check</h3>\n                    </div>\n                    <div class=\"card-body\">\n                        <div class=\"form-inputs\">\n                            <div class=\"form-group form-group-valid\">\n                                <label class=\"form-control-label\" for=\"check_name\">Name <abbr title=\"required\">*</abbr></label>\n                                <input class=\"form-control\" type=\"text\" id=\"check_name\" /></div>\n                                <fieldset class=\"form-group\">\n                                    <div class=\"form-check\">\n                                        <input class=\"form-check-input\" type=\"checkbox\" id=\"check_active\" />\n                                        <label class=\"form-check-label\" for=\"check_active\">Active</label>\n                                    </div>\n                                    <div class=\"form-check\">\n                                        <input class=\"form-check-input\" type=\"checkbox\" id=\"check_force\" />\n                                        <label class=\"form-check-label\" for=\"check_force\">Force</label>\n                                    </div>\n                                </fieldset>\n                                <div class=\"form-group check_cron form-group-valid\">\n                                    <label class=\"form-control-label\" for=\"check_cron\">Cron <abbr title=\"required\">*</abbr></label>\n                                    <select class=\"form-select\" id=\"check_cron\">\n                                        <option selected>5</option>\n                                        <option>2</option>\n                                        <option>1</option>\n                                    </select>\n                                </div>\n                                <div class=\"form-group form-group-valid\">\n                                    <label class=\"form-control-label\" for=\"check_url\">Url <abbr title=\"required\">*</abbr></label>\n                                    <input class=\"form-control\" type=\"url\" id=\"check_url\" />\n                                </div>\n                                <div class=\"form-group form-group-valid\">\n                                    <label class=\"form-control-label\" for=\"check_method\">Method <abbr title=\"required\">*</abbr></label>\n                                    <select class=\"form-control\" id=\"check_method\">\n                                        <option>GET</option>\n                                        <option>POST</option>\n                                        <option>PUT</option>\n                                        <option>PATCH</option>\n                                    </select>\n                                </div>\n                                <div class=\"form-group form-group-valid\">\n                                    <label class=\"form-control-label\" for=\"check_header\">Header </label>\n                                    <input class=\"form-control\" type=\"text\" id=\"check_header\" />\n                                </div>\n                                <div class=\"form-group form-group-valid\">\n                                    <label class=\"form-control-label\" for=\"check_status\">Status <abbr title=\"required\">*</abbr></label>\n                                    <input class=\"form-control\" type=\"status\" id=\"check_status\" />\n                                </div>\n                            </div>\n                            <div class=\"container m-3\">\n                                <button class=\"btn btn btn-info\" id=\"check_update\"> Update</button>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n      </div>","output":"str","x":450,"y":520,"wires":[["c4482de57443f263"]]},{"id":"ba79475e.c4e3f8","type":"http in","z":"24572482.d3f29c","name":"","url":"/edit/:id?","method":"get","upload":false,"swaggerDoc":"","x":270,"y":520,"wires":[["df19c676.6e67f8"]]},{"id":"d7dea9d3.d167e8","type":"http in","z":"24572482.d3f29c","name":"","url":"/js/ping.js","method":"get","upload":false,"swaggerDoc":"","x":270,"y":40,"wires":[["cf73eb5b.e0e558"]]},{"id":"cf73eb5b.e0e558","type":"template","z":"24572482.d3f29c","name":"pingjs","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"var server = 0;\nvar servers = [];\nif (window.localStorage.getItem('pingjs') === null) {\n    window.localStorage.setItem('pingjs', JSON.stringify([{\n        \"label\": \"default\",\n        \"url\": \"http://default\",\n        \"login\": \"admin\",\n        \"password\": \"password\",\n        \"ws\": \"wss://default\"\n    }]))\n}\nservers = JSON.parse(window.localStorage.getItem('pingjs'))\nif (window.localStorage.getItem('server') === null) window.localStorage.setItem('server', 0)\nserver = parseInt(window.localStorage.getItem('server'))\n    \nfunction btnInit() {\n    $(\"#btn-home\").removeClass(\"btn-primary\").addClass(\"btn-outline-primary\");\n    $(\"#btn-admin\").removeClass(\"btn-secondary\").addClass(\"btn-outline-secondary\");\n    $(\"#btn-list\").removeClass(\"btn-info\").addClass(\"btn-outline-info\");\n    $(\"#btn-add\").removeClass(\"btn-success\").addClass(\"btn-outline-succees\");\n}\n\nfunction statusChecks() {\n    $.ajax({\n        url: servers[server].url + \"/api/checks\", \n        headers: { \"Authorization\": \"Basic \" + btoa(servers[server].login + \":\" + servers[server].password) }\n    })\n    .done(function(checks, textStatus, xhr) {\n        $(\"#home_status\").html(xhr.status).addClass(\"text-success\");;\n        let url = 0;\n        let active = 0;\n        let healthy = 0;\n        let issues = 0;\n        let pending = 0;\n        let statuses = [];\n        for (let i = 1; i <= 6; i++ ) statuses[i.toString()] = 0;\n        for ( let c in checks) {\n            url++;\n            if (parseInt(checks[c].active)) active++;\n            if (parseInt(checks[c].statusCode) === 600) pending++;\n            if (parseInt(checks[c].active) && (parseInt(checks[c].status) === parseInt(checks[c].statusCode))) healthy++;\n            if (parseInt(checks[c].active) && (parseInt(checks[c].status) !== parseInt(checks[c].statusCode)) && (parseInt(checks[c].statusCode) !== 600)) issues++;\n            if (parseInt(checks[c].active) && checks[c].statusCode.toString().startsWith(\"1\")) statuses[\"1\"]++;\n            if (parseInt(checks[c].active) && checks[c].statusCode.toString().startsWith(\"2\")) statuses[\"2\"]++;\n            if (parseInt(checks[c].active) && checks[c].statusCode.toString().startsWith(\"3\")) statuses[\"3\"]++;\n            if (parseInt(checks[c].active) && checks[c].statusCode.toString().startsWith(\"4\")) statuses[\"4\"]++;\n            if (parseInt(checks[c].active) && checks[c].statusCode.toString().startsWith(\"5\")) statuses[\"5\"]++;\n            if (parseInt(checks[c].active) && checks[c].statusCode.toString().startsWith(\"6\")) statuses[\"6\"]++;\n        }\n        $(\"#check_active\").html(active);\n        $(\"#check_active_percentage\").html(parseInt(active/Math.max(checks.length*100,100)) + \"%\");\n        $(\"#check_healthy\").html(healthy);\n        $(\"#check_healthy_percentage\").html(parseInt(healthy/Math.max(active,1)*100) + \"%\");\n        $(\"#check_issues\").html(issues);\n        $(\"#check_issues_percentage\").html(parseInt(issues/Math.max(active,1)*100) + \"%\");\n        $(\"#check_pending\").html(pending);\n        $(\"#check_pending_percentage\").html(parseInt(pending/Math.max(active,1)*100) + \"%\");\n        $(\"#check_url\").html(url);\n        $(\"#check_url_percentage\").html(parseInt(url/Math.max(active,1)*100) + \"%\");\n        $(\"#check_status1\").html(statuses[\"1\"]);\n        $(\"#check_status2\").html(statuses[\"2\"]);\n        $(\"#check_status3\").html(statuses[\"3\"]);\n        $(\"#check_status4\").html(statuses[\"4\"]);\n        $(\"#check_status5\").html(statuses[\"5\"]);\n        $(\"#check_status6\").html(statuses[\"6\"]);\n    });\n}\n\nfunction deleteCheck(that) {\n        $.ajax({\n            method: \"DELETE\",\n            datatype: \"json\",\n            headers: { \"Authorization\": \"Basic \" + btoa(servers[server].login + \":\" + servers[server].password) },\n            url: servers[server].url + \"/api/check/\" + $(that).data(\"id\")\n        })\n        .done(function(data) {\n            $(that).closest(\"tr\").css(\"display\",\"none\")\n        });\n}\n\nfunction statusCheck(that) {\n    let active = 1;\n    if ($(that).data(\"active\")) active = 0;\n    $.ajax({\n        method: \"PUT\",\n        datatype: \"json\",\n        headers: { \"Authorization\": \"Basic \" + btoa(servers[server].login + \":\" + servers[server].password) },\n        data: { active: active },\n        url: servers[server].url + \"/api/check/\" + $(that).data(\"id\")\n    })\n    .done(function(data) {\n        if (active) {\n            $(that).removeClass(\"btn-outline-primary\").addClass(\"btn-primary\");\n            $(that).html(\"On\");\n            $(that).data(\"active\",true);\n        } else {\n            $(that).removeClass(\"btn-primary\").addClass(\"btn-outline-primary\");\n            $(that).html(\"Off\");\n            $(that).data(\"active\",false);\n        }\n    });\n}\n\nfunction displayCheck() {\n    $(\"#check_edit\").attr(\"href\",\"/edit/\" + window.location.pathname.split(\"/\")[2]);\n    $(\"#check_json\").attr(\"href\", servers[server].url + \"/api/check/\" + window.location.pathname.split(\"/\")[2]);\n    $.ajax({\n            method: \"GET\",\n            datatype: \"json\",\n            headers: { \"Authorization\": \"Basic \" + btoa(servers[server].login + \":\" + servers[server].password) },\n            url: servers[server].url + \"/api/check/\" + window.location.pathname.split(\"/\")[2]\n        })\n        .done(function(data) {\n            $(\"#display_name_title\").html(data.name);\n            $(\"#check_name\").val(data.name).html(data.name);\n            $(\"#check_url\").val(data.url).html(data.url).attr(\"href\",data.url);\n            $(\"#check_method\").val(data.method);\n            $(\"#check_header\").val(data.header).html(data.header);\n            $(\"#check_cron\").val(data.cron);\n            $(\"#check_status\").val(data.status).html(data.status);\n            $(\"#check_active\").prop(\"checked\", parseInt(data.active)).html(data.active);\n            $(\"#check_force\").prop(\"checked\", parseInt(data.force)).html(data.force);\n            $(\"#check_last\").html(data.date.substring(0,16).replace(\"T\",\" \"));\n            $(\"#check_creation\").html(data.created_at.substring(0,16).replace(\"T\",\" \"));\n        });\n}\n\nfunction listInit () {\n    $(\"#listbody\").html('');\n    $.ajax({\n        url: servers[server].url + \"/api/checks\",\n        headers: { \"Authorization\": \"Basic \" + btoa(servers[server].login + \":\" + servers[server].password) }\n    })\n    .done(function(checks) {\n        $(\"#badge_checks_count\").html(checks.length);\n        let issues = 0;\n        for (let c in checks) {\n            let color = \"success\";\n            if ((parseInt(checks[c].statusCode) !== parseInt(checks[c].status) && parseInt(checks[c].statusCode) !== 600)) {\n                issues++;\n                color = \"danger\";\n            }\n            if (parseInt(checks[c].statusCode) === 600) color = \"secondary\";\n            let active = \"Off\";\n            let activeBtn = \"outline-\";\n            if (parseInt(checks[c].active)) {\n                active = \"On\";\n                activeBtn = \"\";\n            }\n            console.log(servers)\n            console.log(server)\n            $(\"#listbody\").append('<tr><td><btn class=\"btn btn-' + activeBtn + 'primary\" onclick=\"statusCheck(this);\" data-id=\"' + checks[c].id + '\" data-active=\"' + checks[c].active + '\" >' + active + '</btn></td>\\\n                        <td><a href=\"/display/' + checks[c].id + '/edit\"></a></td>\\\n                        <td><div><strong><a href=\"/display/' + checks[c].id + '\">' + checks[c].name + '</a></strong></div>\\\n                            <div class=\"small text-muted\"><span class=\"text-' + color + '\"><strong>' + checks[c].status + '</strong></span></td>\\\n                        <td class=\"text-nowrap\"><div><strong>* / ' + checks[c].cron + '</strong></div></td>\\\n                        <td><div class=\"success\"><a href=\"' + checks[c].url + '\" target=\"_blank\">' + checks[c].url + '</a></div>\\\n                            <div class=\"small text-muted\">Last: ' + checks[c].date.substring(0,16).replace(\"T\",\" \") + '</div></td>\\\n                            <td><span class=\"badge bg-' + color + '\">' + checks[c].statusCode + '</span>\\\n                            <div class=\"small text-muted\"><a href=\"' + servers[server].url + '/api/check/' + checks[c].id + '\" target=\"_blank\">cron_' + checks[c].id + '</a></div></td>\\\n                        <td><button class=\"btn btn-outline-danger\" onclick=\"deleteCheck(this);\" data-id=\"' + checks[c].id + '\">Del</button></td>\\\n                </tr>');\n        }\n        $(\"#badge_issues_count\").html(issues);\n  })\n}\n\nfunction listIssues () {\n    $(\"#listbody\").html('');\n    $.ajax({\n        url: servers[server].url + \"/api/issues\", \n        headers: { \"Authorization\": \"Basic \" + btoa(servers[server].login + \":\" + servers[server].password) }\n    })\n    .always(function(result) {\n        let checks = result.responseJSON;\n        let issues = 0\n            for (let c in checks) {\n                if (parseInt(checks[c].active) && (parseInt(checks[c].statusCode) !== parseInt(checks[c].status))) {\n                    issues++;\n                    let active = \"Off\";\n                    let activeBtn = \"outline-\";\n                    if (parseInt(checks[c].active)) {\n                        active = \"On\";\n                        activeBtn = \"\";\n                    }\n                    $(\"#listbody\").append('<tr><td><btn class=\"btn btn-' + activeBtn + 'primary\" onclick=\"statusCheck(this);\" data-id=\"' + checks[c].id + '\" data-active=\"' + checks[c].active + '\" >' + active + '</btn></td>\\\n                            <td><a href=\"/display/' + checks[c].id + '/edit\"></a></td>\\\n                            <td><div><strong><a href=\"/display/' + checks[c].id + '\">' + checks[c].name + '</a></strong></div>\\\n                                <div class=\"small text-muted\"><span class=\"text-danger\"><strong>' + checks[c].status + '</strong></span></td>\\\n                            <td class=\"text-nowrap\"><div><strong>* / ' + checks[c].cron + '</strong></div></td>\\\n                            <td><div class=\"success\"><a href=\"' + checks[c].url + '\" target=\"_blank\">' + checks[c].url + '</a></div>\\\n                                <div class=\"small text-muted\">Last: ' + ('date' in checks[c] ? checks[c].date.substring(0,16).replace(\"T\",\" \") : '' ) + '</div></td>\\\n                            <td><span class=\"badge bg-danger\">' + checks[c].statusCode + '</span>\\\n                                <div class=\"small text-muted\"><a href=\"' + servers[server].url + '/api/check/' + checks[c].id + '\" target=\"_blank\">cron_' + checks[c].id + '</a></div></td>\\\n                            <td><button class=\"btn btn-outline-danger\" onclick=\"deleteCheck(this);\" data-id=\"' + checks[c].id + '\">Del</button></td>\\\n                    </tr>');\n                }\n            }\n            $('#issues_count').html(issues)\n        });\n}\n\nfunction homeTimer(myfunc) {\n    var home_timer = 59;\n    setInterval(function(){ home_timer = 59; myfunc(); }, 60000);\n    setInterval(function(){ \n        $(\"#home_timer\").html((home_timer--).toString()); \n    }, 1000);\n}\n\n$(document).ready(function() {\n    $('#server_select').html('')\n    for (const ss in servers) {\n        if (server == ss) $('#server_select').append('<option value=\"' + ss + '\" selected>' + servers[ss].label + '</option>')\n        else $('#server_select').append('<option value=\"' + ss + '\">' + servers[ss].label + '</option>')\n    }\n    btnInit();\n    switch (window.location.pathname.split('/')[1]) {\n        case \"\":\n        case \"home\": \n            $(\"#btn-home\").addClass(\"btn-primary\").removeClass(\"btn-outline-primary\")\n            statusChecks();\n            homeTimer(statusChecks);\n            break;\n        case \"admin\":\n            $(\"#btn-admin\").addClass(\"btn-secondary\").removeClass(\"btn-outline-secondary\")\n            $(\"#configLink\").attr(\"href\", servers[server].url + \"/api/config\")\n            $(\"#export\").attr(\"href\", servers[server].url + \"/api/export\")\n            $('#import').attr('action', servers[server].url + \"/api/import\");\n            $.ajax({\n                url: servers[server].url + \"/api/config\", \n                headers: { \"Authorization\": \"Basic \" + btoa(servers[server].login + \":\" + servers[server].password) }\n            })\n            .done(function(data) {\n                $(\"#config_webhook\").html(JSON.stringify(data.webhook));\n                $(\"#config_prometheus\").html(JSON.stringify(data.prometheus));\n                $(\"#config_elastic\").html(JSON.stringify(data.elastic));\n                $(\"#config_yoctu\").html(JSON.stringify(data.yoctu));\n            });\n            break;\n        case \"notif\":\n            $(\"#btn-notif\").addClass(\"btn-warning\").removeClass(\"btn-outline-warning\")\n            break;\n        case \"new\":\n            $(\"#btn-add\").addClass(\"btn-success\").removeClass(\"btn-outline-success\")\n            break;\n        case \"settingsEdit\":\n            $(\"#btn-admin\").addClass(\"btn-secondary\").removeClass(\"btn-outline-secondary\")\n            $.ajax({\n                method: \"GET\",\n                headers: { \"Authorization\": \"Basic \" + btoa(servers[server].login + \":\" + servers[server].password) },\n                url: servers[server].url + \"/api/config\"\n            })\n            .done(function(data) {\n                $(\"#config_elastic_url\").val(JSON.stringify(data.elastic.url).replace(/\"/g,\"\"));\n                $(\"#config_elastic_method\").val(JSON.stringify(data.elastic.method).replace(/\"/g,\"\"));\n                $(\"#config_webhook_url\").val(JSON.stringify(data.webhook.url).replace(/\"/g,\"\"));\n                $(\"#config_webhook_method\").val(JSON.stringify(data.webhook.method).replace(/\"/g,\"\"));\n                $(\"#config_webhook_header\").val(data.webhook.header);\n                $(\"#config_webhook_payload\").val(data.webhook.payload);\n                $(\"#config_yoctu_url\").val(JSON.stringify(data.yoctu.url).replace(/\"/g,\"\"));\n                $(\"#config_yoctu_header\").val(data.yoctu.header);\n                $(\"#config_yoctu_recipient\").val(data.yoctu.recipient);\n                $(\"#config_yoctu_sender\").val(data.yoctu.sender);\n            });\n            break;\n        case \"edit\":\n            $(\"#btn-list\").addClass(\"btn-info\").removeClass(\"btn-outline-info\")\n            displayCheck();\n            break;\n        case \"checks\":\n            $(\"#btn-list\").addClass(\"btn-info\").removeClass(\"btn-outline-info\")\n            listInit();\n            homeTimer(listInit);\n            break;\n        case \"display\":\n            $(\"#btn-list\").addClass(\"btn-info\").removeClass(\"btn-outline-info\")\n            displayCheck();\n            break;\n        case \"issues\":\n            $(\"#btn-issues\").addClass(\"btn-info\").removeClass(\"btn-outline-info\")\n            listIssues();\n            homeTimer(listIssues);\n            break;\n    }\n\n    $(\"#check_now\").on(\"click\", function() {\n        $.ajax({\n            method: \"POST\",\n            datatype: \"json\",\n            headers: { \"Authorization\": \"Basic \" + btoa(servers[server].login + \":\" + servers[server].password) },\n            url: servers[server].url + \"/api/checknow/\" + window.location.pathname.split(\"/\")[2]\n        })\n        .done(function(data) {\n        });\n    });\n    \n    $(\"#server_select\").change(function() {\n        server = parseInt($(\"#server_select\").val())\n        window.localStorage.setItem('server', server)\n        location.reload();\n    });\n    \n    $(\"#check_update\").on(\"click\", function() {\n        $.ajax({\n            method: \"PUT\",\n            datatype: \"json\",\n            headers: { \"Authorization\": \"Basic \" + btoa(servers[server].login + \":\" + servers[server].password) },\n            data: { name: $(\"#check_name\").val(), status: $(\"#check_status\").val(), method: $(\"#check_method\").val(), url: $(\"#check_url\").val(), cron: parseInt($(\"#check_cron\").val()), active: $(\"#check_active\").is(\":checked\") ? \"1\" : \"0\", force: $(\"#check_force\").is(\":checked\") ? \"1\" : \"0\", \"header\": $(\"#check_header\").val() },\n            url: servers[server].url + \"/api/check/\" + window.location.pathname.split(\"/\")[2]\n        })\n        .done(function(data) {\n            $(\"#card_updated\").css(\"display\",\"block\");\n        });\n    });\n    \n    $(\"#config_update\").on(\"click\", function() {\n        $.ajax({\n            method: \"PUT\",\n            datatype: \"json\",\n            headers: { \"Authorization\": \"Basic \" + btoa(servers[server].login + \":\" + servers[server].password) },\n            data: { elastic: { url: $(\"#config_elastic_url\").val(), method: $(\"#config_elastic_method\").val() }, yoctu: { url: $(\"#config_yoctu_url\").val(), header: $(\"#config_yoctu_header\").val(), recipient: $(\"#config_yoctu_recipient\").val(), sender: $(\"#config_yoctu_sender\").val() }, webhook: { url: $(\"#config_webhook_url\").val(), header: $(\"#config_webhook_header\").val(), method: $(\"#config_webhook_method\").val(), payload: $(\"#config_webhook_payload\").val() }},\n            url: servers[server].url + \"/api/config\"\n        })\n        .done(function(data) {\n            $(\"#card_updated\").css(\"display\",\"block\");\n        });\n    }); \n\n    $(\"#check_delete\").on(\"click\", function() {\n        $.ajax({\n            method: \"DELETE\",\n            datatype: \"json\",\n            headers: { \"Authorization\": \"Basic \" + btoa(servers[server].login + \":\" + servers[server].password) },\n            url: servers[server].url + \"/api/check/\" + window.location.pathname.split(\"/\")[2]\n        })\n        .done(function(data) {\n            $(\"#card_deleted\").css(\"display\",\"block\");\n            $(\"#card_is_deleted\").css(\"display\",\"none\");\n        });\n    });\n\n    $(\"#commit\").on(\"click\", function() {\n        $.ajax({\n            method: \"POST\",\n            datatype: \"json\",\n            url: servers[server].url + \"/api/check\",\n            headers: { \"Authorization\": \"Basic \" + btoa(servers[server].login + \":\" + servers[server].password) },\n            data: { \n                \"active\": $(\"#check_active\").is(\":checked\") ? 1 : 0,\n                \"force\": $(\"#check_force\").is(\":checked\") ? 1 : 0,\n                \"name\": $(\"#check_name\").val(),\n                \"url\": $(\"#check_url\").val(),\n                \"status\": parseInt($(\"#check_status\").val()),\n                \"method\": $(\"#check_method\").val(),\n                \"cron\": parseInt($(\"#check_cron\").val())\n            } \n        })\n            .done(function(data) {\n                $(\"#card_created\").html(\"<br><p>Check \" + $(\"#check_name\").val() + \" created.</p>\").css(\"display\",\"block\");\n            });\n    });\n});","output":"str","x":450,"y":40,"wires":[["b8e8723644876d3c"]]},{"id":"9cfb0dc3.c9927","type":"http in","z":"24572482.d3f29c","name":"","url":"/issues","method":"get","upload":false,"swaggerDoc":"","x":270,"y":580,"wires":[["fb0b89d6.ac01c8"]]},{"id":"fb0b89d6.ac01c8","type":"template","z":"24572482.d3f29c","name":"issues","field":"body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"card\">\n                    <div class=\"card-header bg-transparent \">\n                        <h3 class=\"card-title\">Issues ( <span id=\"issues_count\">0</span> )</h3>\n                    </div>\n                    <div class=\"table-responsive\">\n                        <table class=\"table card-table table-vcenter\">\n                            <thead>\n                                <tr>\n                                    <th colspan=2>Active</th>\n                                    <th>Name</th>\n                                    <th>Cron</th>\n                                    <th>Url</th>\n                                    <th>Status</th>\n                                    <th></th>\n                                </tr>\n                            </thead>\n\n                            <tbody id=\"listbody\">\n                            </tbody>\n                        </table>\n                    </div>\n                </div>\n            </div>\n        </div>","output":"str","x":450,"y":580,"wires":[["c4482de57443f263"]]},{"id":"bbffcff2.f1585","type":"http in","z":"24572482.d3f29c","name":"","url":"/settingsEdit","method":"get","upload":false,"swaggerDoc":"","x":280,"y":640,"wires":[["c2e72904.63b7b8"]]},{"id":"c2e72904.63b7b8","type":"template","z":"24572482.d3f29c","name":"settings","field":"body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"card text-white bg-success\" id=\"card_updated\" style=\"display:none;\">\n                <div class=\"card-body\">\n                    Check updated.\n                </div>\n                </div>\n                <br>\n                <div class=\"row\">\n                    <div class=\"col-md-8\">\n                        <div class=\"card\">\n                            <div class=\"card-header bg-transparent\">\n                                <h3 class=\"card-title\">Editing Settings</h3>\n                            </div>\n                            <div class=\"card-body\">\n                                <div class=\"form-inputs\">\n                                    <div class=\"form-group form-group-valid\">\n                                        <div class=\"form-group check_cron form-group-valid\">\n                                            <label class=\"form-control-label\" for=\"config_elastic_url\">Mailer Url</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_yoctu_url\" />\n                                        </div>\n                                        <div class=\"form-group check_cron\">\n                                            <label class=\"form-control-label\" for=\"config_webhook_payload\">Mailer  Headers</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_yoctu_header\" />\n                                        </div>\n                                        <div class=\"form-group check_cron form-group-valid\">\n                                            <label class=\"form-control-label\" for=\"config_elastic_url\">Mailer Sender</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_yoctu_sender\" />\n                                        </div>\n                                        <div class=\"form-group check_cron form-group-valid\">\n                                            <label class=\"form-control-label\" for=\"config_elastic_url\">Mailer Recipient</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_yoctu_recipient\" />\n                                        </div>\n                                    </div>\n                                    <div class=\"form-group form-group-valid\">\n                                        <div class=\"form-group check_cron\">\n                                            <label class=\"form-control-label\" for=\"config_elastic_url\">Webhook Url</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_webhook_url\" />\n                                        </div>\n                                        <div class=\"form-group check_cron\">\n                                            <label class=\"form-control-label\" for=\"config_webhook_payload\">Webhook Headers</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_webhook_header\" />\n                                        </div>\n                                        <div class=\"form-group check_cron\">\n                                            <label class=\"form-control-label\" for=\"config_elastic_url\">Webhook Method</label>\n                                            <select class=\"form-control\" id=\"config_webhook_method\">\n                                                <option>POST</option>\n                                                <option>GET</option>\n                                                <option>PUT</option>\n                                                <option>PATCH</option>\n                                            </select>\n                                        </div>\n                                        <div class=\"form-group check_cron\">\n                                            <label class=\"form-control-label\" for=\"config_webhook_payload\">Webhook Payload</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_webhook_payload\" />\n                                        </div>\n                                    </div>\n                                    <div class=\"form-group form-group-valid\">\n                                        <div class=\"form-group check_cron form-group-valid\">\n                                            <label class=\"form-control-label\" for=\"config_elastic_url\">Elastic Url</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_elastic_url\" />\n                                        </div>\n                                        <div class=\"form-group check_cron form-group-valid\">\n                                            <label class=\"form-control-label\" for=\"config_elastic_url\">Elastic Method</label>\n                                            <select class=\"form-control\" id=\"config_elastic_method\">\n                                                <option>POST</option>\n                                                <option>GET</option>\n                                                <option>PUT</option>\n                                                <option>PATCH</option>\n                                            </select>\n                                        </div>\n                                    </div>\n                                    <div class=\"container m-3\">\n                                        <button class=\"btn btn btn-info\" id=\"config_update\"> Update</button>\n                                    </div>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>","output":"str","x":460,"y":640,"wires":[["c4482de57443f263"]]},{"id":"cc8458f8.2b3de8","type":"http in","z":"24572482.d3f29c","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":260,"y":220,"wires":[["f4996a01.b3ce68"]]},{"id":"ea5d3c1b172f0212","type":"template","z":"24572482.d3f29c","name":"footer","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{header}}}\n{{{body}}}\n  </div>\n  <footer class=\"footer mt-auto py-3 small text-muted text-center\">\n        <a href=\"https://yoctu.com\" target=\"_blank\">yoctu</a>({{global.version}})\n  </footer>\n</body>\n\n</html>","output":"str","x":870,"y":380,"wires":[["3ff70c3d.b03a84"]]},{"id":"c4482de57443f263","type":"template","z":"24572482.d3f29c","name":"header","field":"header","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>PingJs</title>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\" />\n  <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://www.yoctu.com/img/favicon/favicon-32x32.png\">\n  <meta name=\"csrf-param\" content=\"authenticity_token\" />\n  <meta name=\"csrf-token\" content=\"Q1C1FVntCZeM08fz5YxGr7mbCgA/3DVU9t58CIahmcGvxcZyYeW3vH9WhejSOxsZmI+FV98hU5f992q1zRUgBg==\" />\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC\" crossorigin=\"anonymous\">\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM\" crossorigin=\"anonymous\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js\" integrity=\"sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==\" crossorigin=\"anonymous\" referrerpolicy=\"no-referrer\"></script>  \n  <script src=\"https://cdn.auth0.com/js/auth0-spa-js/1.19/auth0-spa-js.production.js\"></script>\n  <script src=\"/js/ping.js\"></script>\n  <script src=\"/js/auth.js\"></script>\n</head>\n<body class=\"d-flex flex-column h-100\">\n  <div class=\"container\">\n    <div class=\"row m-2\">\n        <div class=\"col m-1\">\n          <a class=\"btn w-100 btn-outline-primary\" href=\"/home\" id=\"btn-home\"> Home</a>\n        </div>\n        <div class=\"col m-1\">\n          <a class=\"btn w-100 btn-outline-info\" href=\"/checks\" id=\"btn-list\"> List</a>\n        </div>\n        <div class=\"col m-1\">\n          <a class=\"btn w-100 btn-outline-success\" href=\"/new\" id=\"btn-add\"> Add</a>\n        </div>\n        <div class=\"col m-1\">\n          <a class=\"btn w-100 btn-outline-warning\" href=\"/notif\" id=\"btn-notif\"> Notif</a>\n        </div>\n        <div class=\"col m-1\">\n          <a class=\"btn w-100 btn-icon btn-outline-secondary\" href=\"/admin\" id=\"btn-admin\"> Settings</a>\n        </div>\n        <div class=\"col-1 text-center\">\n            <a class=\"btn btn-primary\" style=\"float:right;\" href=\"/config\" id=\"btn-config\"> + </a>\n        </div>\n        <div class=\"col-3\">\n            <select class=\"form-select\" id=\"server_select\"></select>\n        </div>\n        <div class=\"col text-center\" id=\"user\">\n        </div>\n        <div class=\"col\" id=\"logout\">\n            <img src=\"https://upload.wikimedia.org/wikipedia/commons/8/8a/OOjs_UI_icon_logOut-ltr.svg\" onclick=\"logout();\" heigth=\"32\" width=\"32\"/>\n        </div>\n        <div class=\"col-1 text-center small\"><span id=\"home_timer\">60</span>s</div>\n    </div>","output":"str","x":740,"y":380,"wires":[["ea5d3c1b172f0212"]]},{"id":"b8e8723644876d3c","type":"http response","z":"24572482.d3f29c","name":"","statusCode":"","headers":{},"x":630,"y":80,"wires":[]},{"id":"1cebe99bb583d4de","type":"template","z":"24572482.d3f29c","name":"notif","field":"body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"row\">\n                    <div class=\"col-md-12\">\n                        <div class=\"card\">\n                            <div class=\"card-header bg-transparent\">\n                                <h3 class=\"card-title\">Notifications</h3>\n                            </div>\n                            <div class=\"card-body\">\n                                <div class=\"table-responsive\">\n                                    <table class=\"table card-table table-vcenter\">\n                                        <thead>\n                                            <tr>\n                                                <th>Action</th>\n                                                <th>Message</th>\n                                                <th>Date</th>\n                                            </tr>\n                                        </thead>\n            \n                                        <tbody id=\"listbody\">\n                                        </tbody>\n                                    </table>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                </div><br>\n            </div>\n        </div>\n<script>\n$(document).ready(function() {\n    let WsServer = servers[parseInt($(\"#server_select\").val())].ws || 'ws://' + window.location.host\n    const ws = new WebSocket(WsServer + '/ws')\n    ws.onmessage = function (event) {\n        if ('data' in event) {\n            const message = JSON.parse(event.data)\n            switch (message.action) {\n                case \"run\": badge = \"bg-info\"; break;\n                case \"save\": badge = \"bg-primary\"; break;\n                case \"error\": badge = \"bg-danger\"; break;\n                case \"cron\": badge = \"bg-success\"; break;\n                default: badge = \"bg-primary\";\n            }\n            $(\"#listbody\").prepend('<tr><td><span class=\"badge ' + badge + '\">' + message.action + '</span></th><td>' + ('data' in message ? '<a href=\"/display/' + message.data.id + '\">' + message.data.name + '</a>': '') + '</td><td>' + new Date().toISOString().replace('T',' ').substring(0,19) + '</td></tr>');\n        }\n    }\n    \n    ws.onclose = function(event) {\n        alert('Something bad happened...')\n        window.location.reload();\n    }\n    \n    ws.onerror = function(err) {\n        alert('Something bad happened...')\n        window.location.reload();\n    };\n})\n</script>","output":"str","x":450,"y":700,"wires":[["c4482de57443f263"]]},{"id":"bcb541d6ed3ec5c2","type":"http in","z":"24572482.d3f29c","name":"","url":"/notif","method":"get","upload":false,"swaggerDoc":"","x":260,"y":700,"wires":[["1cebe99bb583d4de"]]},{"id":"8d65d30de9df0ba0","type":"file","z":"9499084827933322","name":"save settings.js","filename":"/data/settings.js","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":680,"y":140,"wires":[[]]},{"id":"06c743ca60f3b01e","type":"inject","z":"9499084827933322","name":"inject settings.js","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":236.5,"y":140,"wires":[["60a3ca048d2514bc"]]},{"id":"60a3ca048d2514bc","type":"template","z":"9499084827933322","name":"settings.js","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"module.exports = {\n    uiPort: process.env.PORT || 1880,\n    mqttReconnectTime: 15000,\n    serialReconnectTime: 15000,\n    debugMaxLength: 1000,\n    functionGlobalContext: {\n    },\n    exportGlobalContextKeys: false,\n    logging: {\n        console: {\n            level: \"info\",\n            metrics: false,\n            audit: false\n        }\n    },\n    credentialSecret: \"yoctu-secret\",\n    httpAdminRoot: '/nodered',\n    adminAuth: {\n        type: \"credentials\",\n        users: [{\n            username: \"klh\",\n            password: \"$2a$08$35c5jQXpCe5JkM8q2nCygOq0.wHt9L.pw/lZuvK.BJ/2DNQXJOTNS\",\n            permissions: \"*\"\n        }]\n    },\n    editorTheme: {\n        projects: {\n            enabled: false\n        }\n    }\n}","output":"str","x":460,"y":140,"wires":[["8d65d30de9df0ba0"]]},{"id":"e925b9eaad52956b","type":"comment","z":"9499084827933322","name":"Settings","info":"Default admin/password login","x":200,"y":80,"wires":[]},{"id":"2596d6c1.8d706a","type":"inject","z":"9499084827933322","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","x":210,"y":200,"wires":[["746f1dd257a1346f"]]},{"id":"746f1dd257a1346f","type":"change","z":"9499084827933322","name":"version","rules":[{"t":"set","p":"version","pt":"global","to":"1.1.0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":200,"wires":[[]]},{"id":"2b51e7abc20535e8","type":"http in","z":"24572482.d3f29c","name":"","url":"/js/auth.js","method":"get","upload":false,"swaggerDoc":"","x":270,"y":100,"wires":[["cc07a5c05495b446"]]},{"id":"cc07a5c05495b446","type":"template","z":"24572482.d3f29c","name":"auth","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"var auth0 = null;\nvar user = {}\n\nif (window.localStorage.getItem('user') !== null) {\n    user = JSON.parse(window.localStorage.getItem('user'))\n}\n\nconst login = async (targetUrl) => {\n  try {\n    const options = {\n      redirect_uri: window.location.origin\n    };\n    if (targetUrl) {\n      options.appState = { targetUrl };\n    }\n    await auth0.loginWithRedirect(options);\n  } catch (err) {\n    console.log(\"Log in failed\", err);\n  }\n};\n\nconst logout = async() => {\n  try {\n    window.localStorage.removeItem('user');\n    auth0 = await createAuth0Client({\n        domain: \"dev-i-1ca-69.auth0.com\",\n        client_id: \"lSKSWZOduytOlc6Mw3MbjDFLjo1rF7jW\"\n    });\n    auth0.logout({\n        returnTo: window.location.origin + '/logout'\n    });\n  } catch (err) {\n    console.log(\"Log out failed\", err);\n  }\n};\n\nwindow.onload = async () => {\n\n  if ('picture' in user) {\n    $(\"#user\").html('<img src=\"' + user.picture + '\" height=\"32\" width=\"32px\" class=\"rounded\" />')\n    return;\n  }\n  \n  auth0 = await createAuth0Client({\n    domain: \"dev-i-1ca-69.auth0.com\",\n    client_id: \"lSKSWZOduytOlc6Mw3MbjDFLjo1rF7jW\"\n  });\n  \n  const isAuthenticated = await auth0.isAuthenticated();\n\n  if (isAuthenticated) {\n    user = await auth0.getUser();\n    window.localStorage.setItem('user', JSON.stringify(user))\n    if ('picture' in user) $(\"#user\").html('<img src=\"' + user.picture + '\" height=\"32\" width=\"32px\" class=\"rounded\" />')\n    window.history.replaceState({}, document.title, window.location.pathname);\n\n    return;\n  }\n\n  const query = window.location.search;\n  const shouldParseResult = query.includes(\"code=\") && query.includes(\"state=\");\n\n  if (shouldParseResult) {\n    try {\n      const result = await auth0.handleRedirectCallback();\n      user = await auth0.getUser();\n      window.localStorage.setItem('user', JSON.stringify(user))\n      if ('picture' in user) $(\"#user\").html('<img src=\"' + user.picture + '\" height=\"32\" width=\"32px\" class=\"rounded\" />')\n    } catch (err) {\n      console.log(\"Error parsing redirect:\", err);\n    }\n    window.history.replaceState({}, document.title, \"/\");\n    return;\n  }\n  login();\n};","output":"str","x":450,"y":100,"wires":[["b8e8723644876d3c"]]},{"id":"bea17f327de04a67","type":"template","z":"24572482.d3f29c","name":"config","field":"body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"            <div class=\"row\">\n                <div class=\"card\">\n                    <div class=\"card-header bg-transparent\">\n                        <h3 class=\"card-title\">PingJS</h3>\n                    </div>\n                    <div class=\"card-body\">\n                        <textarea class=\"form-control\" rows=\"20\" id=\"server_textarea\"></textarea>\n                    </div>\n                    <div class=\"container m-3\">\n                        <button class=\"btn btn btn-secondary\" id=\"server_cancel\"> Cancel</button>\n                        <button class=\"btn btn btn-info text-white\" id=\"server_update\"> Update</button>\n                    </div>\n                </div>\n            </div>\n<script>\n    if (window.localStorage.getItem('pingjs') === null) $(\"#server_textarea\").val(\"[]\")\n    else $(\"#server_textarea\").val(JSON.stringify(JSON.parse(window.localStorage.getItem('pingjs')), null, 4))\n\n    $(\"#server_cancel\").on(\"click\", function() {\n        window.location = \"/home\"\n    });\n    \n    $(\"#server_update\").on(\"click\", function() {\n        window.localStorage.setItem('pingjs', $(\"#server_textarea\").val())\n        window.location = \"/home\"\n    });\n    \n    $(document).ready(function() {\n        $('#server_select').html('')\n        $('#server_select').attr('disabled', 'true')\n        servers = JSON.parse(window.localStorage.getItem('pingjs'))\n        if (window.localStorage.getItem('server') === null) window.localStorage.setItem('server', 0)\n        server = parseInt(window.localStorage.getItem('server'))\n        for (const ss in servers) {\n            if (server === ss) $('#server_select').append('<option value=\"' + ss + '\" selected>' + servers[ss].url + '</option>')\n            else $('#server_select').append('<option value=\"' + ss + '\">' + servers[ss].url + '</option>')\n        }\n    })\n    \n</script>","output":"str","x":450,"y":760,"wires":[["c4482de57443f263"]]},{"id":"230a33673f44af28","type":"http in","z":"24572482.d3f29c","name":"","url":"/config","method":"get","upload":false,"swaggerDoc":"","x":270,"y":760,"wires":[["bea17f327de04a67"]]},{"id":"2bd3e122d8434ef7","type":"http in","z":"24572482.d3f29c","name":"","url":"/logout","method":"get","upload":false,"swaggerDoc":"","x":270,"y":820,"wires":[["2bd629507dac9e91"]]},{"id":"ea3f10bb9ffedd42","type":"http response","z":"24572482.d3f29c","name":"","statusCode":"","headers":{},"x":550,"y":820,"wires":[]},{"id":"2bd629507dac9e91","type":"template","z":"24572482.d3f29c","name":"config","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>PingJs</title>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\" />\n  <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://www.yoctu.com/img/favicon/favicon-32x32.png\">\n  <meta name=\"csrf-param\" content=\"authenticity_token\" />\n  <meta name=\"csrf-token\" content=\"Q1C1FVntCZeM08fz5YxGr7mbCgA/3DVU9t58CIahmcGvxcZyYeW3vH9WhejSOxsZmI+FV98hU5f992q1zRUgBg==\" />\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC\" crossorigin=\"anonymous\">\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM\" crossorigin=\"anonymous\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js\" integrity=\"sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==\" crossorigin=\"anonymous\" referrerpolicy=\"no-referrer\"></script>  \n</head>\n<body class=\"d-flex flex-column h-100\">\n  <div class=\"container\">\n    <div class=\"row m-3\">\n        <div class=\"col d-flex justify-content-center m-3\">\n            <div class=\"card m-3\">\n              <div class=\"card-body\">\n                <h5 class=\"card-title\">Logout</h5>\n                <h6 class=\"card-subtitle mb-2 text-muted\">you're leaving...</h6>\n                <p class=\"card-text\">You have been successfully logged out.</p>\n                <a href=\"/\" class=\"card-link\">Log me back in</a>\n              </div>\n            </div>\n        </div>\n    </div>\n  </div>\n  <footer class=\"footer mt-auto py-3 small text-muted text-center\">\n        <a href=\"https://yoctu.com\" target=\"_blank\">yoctu</a>({{global.version}})\n  </footer>\n</body>\n\n</html>","output":"str","x":430,"y":820,"wires":[["ea3f10bb9ffedd42"]]}]
