nodered/flows_yoctu.json
[{"id":"7d84742.08f238c","type":"tab","label":"Setup","disabled":false,"info":"When you install the flow you must initiliaze 2 files :\n- config \n- database\n \nConfig contains your configuration and database the list of all your checks.\n\n# Init config :\n`curl -X POST -H \"Content-Type: application/json\" http://{NODE-RED}/init`\n \n# Delete config :\n`curl -X DELETE -H \"Content-Type: application/json\" http://{NODE-RED}/init`\n"},{"id":"c5f66470.31a8f8","type":"tab","label":"Api - Checks","disabled":false,"info":"# Get all checks :\n`curl -X GET -H \"Content-Type: application/json\" http://{NODE-RED}/api/check`\n\n`curl -X GET -H \"Content-Type: application/json\" http://{NODE-RED}/api/checks`\n\n# Get one check :\n`curl -X GET -H \"Content-Type: application/json\" http://{NODE-RED}/api/check/{ID}`\n\n# Create a check :\n`curl -X POST -H \"Content-Type: application/json\" http://{NODE-RED}/api/check`\n \n# Create all checks :\n`curl -X POST -H \"Content-Type: application/json\" http://{NODE-RED}/api/checks`\n \n# Modify a check :\n`curl -X PUT -H \"Content-Type: application/json\" http://{NODE-RED}/api/check/{ID}`\n \n# Delete a check :\n`curl -X DELETE -H \"Content-Type: application/json\" http://{NODE-RED}/api/check/{ID}`\n"},{"id":"f580d428.4e4768","type":"tab","label":"Api - Config","disabled":false,"info":"# Get config :\n`curl -X GET -H \"Content-Type: application/json\" http://{NODE-RED}/api/config`\n\n# Create config :\n`curl -X POST -H \"Content-Type: application/json\" http:/{NODE-RED}/api/config`\n \n# Modify config :\n`curl -X PUT -H \"Content-Type: application/json\" http://{NODE-RED}/api/config`\n \n# Delete config :\n`curl -X DELETE -H \"Content-Type: application/json\" http://{NODE-RED}/api/config`\n"},{"id":"98c47dc355a25b82","type":"tab","label":"Cron","disabled":false,"info":""},{"id":"af8756fb19d0b3c0","type":"tab","label":"Backup","disabled":false,"info":""},{"id":"26a0ef59.a800f","type":"subflow","name":"get config","info":"","category":"","in":[{"x":240,"y":260,"wires":[{"id":"f1a31baf.0a7e18"}]}],"out":[{"x":1080,"y":260,"wires":[{"id":"dfb20c06.69cf2","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"129e609e.f5085f","type":"subflow","name":"get db","info":"","category":"","in":[{"x":220,"y":180,"wires":[{"id":"a846d258.6813b"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"6bf330d9.f27a3","type":"subflow","name":"set config","info":"","category":"","in":[{"x":140,"y":180,"wires":[{"id":"cf1435ee.a41268"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"2c4dd4ee.225fac","type":"subflow","name":"set db","info":"","category":"","in":[{"x":140,"y":160,"wires":[{"id":"14a6467c.b1192a"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"06afd692f88faa11","type":"websocket-listener","path":"/ws","wholemsg":"false"},{"id":"f1a31baf.0a7e18","type":"change","z":"26a0ef59.a800f","name":"db path","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('CONFIG_PATH') & \"config.json\"","tot":"jsonata"},{"t":"set","p":"backup","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":260,"wires":[["c690668b.fe2b38"]]},{"id":"c690668b.fe2b38","type":"file in","z":"26a0ef59.a800f","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":260,"wires":[["1a06c45b.513edc"]]},{"id":"1a06c45b.513edc","type":"json","z":"26a0ef59.a800f","name":"","property":"payload","action":"obj","pretty":false,"x":730,"y":260,"wires":[["dfb20c06.69cf2"]]},{"id":"dfb20c06.69cf2","type":"change","z":"26a0ef59.a800f","name":"","rules":[{"t":"set","p":"config","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"backup","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":260,"wires":[[]]},{"id":"a846d258.6813b","type":"change","z":"129e609e.f5085f","name":"db path","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('DB_PATH') & \"database.json\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":180,"wires":[["38676b46.758b14"]]},{"id":"38676b46.758b14","type":"file in","z":"129e609e.f5085f","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":550,"y":180,"wires":[["cc2a48b8.4b4928"]]},{"id":"cc2a48b8.4b4928","type":"json","z":"129e609e.f5085f","name":"","property":"payload","action":"obj","pretty":false,"x":710,"y":180,"wires":[["6638081c6fcee417"]]},{"id":"febaf8ac.441858","type":"http in","z":"c5f66470.31a8f8","name":"","url":"/api/check/:id?","method":"get","upload":false,"swaggerDoc":"","x":130,"y":280,"wires":[["5331d38e.df6ffc"]]},{"id":"b29a781.a9b5588","type":"http response","z":"c5f66470.31a8f8","name":"","statusCode":"200","headers":{},"x":1200,"y":320,"wires":[]},{"id":"5331d38e.df6ffc","type":"switch","z":"c5f66470.31a8f8","name":"","property":"req.params.id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":220,"wires":[["68598f0145c8a5c4"],["0e63ab8d0bf001f6"]]},{"id":"44a1af11.de46d","type":"http in","z":"c5f66470.31a8f8","name":"","url":"/api/check","method":"post","upload":false,"swaggerDoc":"","x":120,"y":380,"wires":[["6f3899ac4fa6aef0"]]},{"id":"14679b05.c929b5","type":"http response","z":"c5f66470.31a8f8","name":"","statusCode":"201","headers":{},"x":1020,"y":540,"wires":[]},{"id":"6c7c1c96.f2bb94","type":"switch","z":"c5f66470.31a8f8","name":"","property":"error.status","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":380,"wires":[["15763a50.721ca6"],["4fac9422.79a52c"]]},{"id":"4fac9422.79a52c","type":"http response","z":"c5f66470.31a8f8","name":"","statusCode":"500","headers":{},"x":720,"y":420,"wires":[]},{"id":"b6acee50.494a6","type":"http in","z":"c5f66470.31a8f8","name":"","url":"/api/check/:id","method":"put","upload":false,"swaggerDoc":"","x":130,"y":560,"wires":[["716d8604.d37e98"]]},{"id":"ca5f251b.4072b8","type":"http response","z":"c5f66470.31a8f8","name":"","statusCode":"200","headers":{},"x":740,"y":560,"wires":[]},{"id":"34eed8a3.e7e748","type":"http in","z":"f580d428.4e4768","name":"","url":"/api/config","method":"get","upload":false,"swaggerDoc":"","x":160,"y":80,"wires":[["8968d2a3.26f41"]]},{"id":"f6c1a8f0.b61ee8","type":"http response","z":"f580d428.4e4768","name":"","statusCode":"200","headers":{},"x":600,"y":80,"wires":[]},{"id":"6f12c2fe.348a5c","type":"http in","z":"f580d428.4e4768","name":"","url":"/api/config","method":"post","upload":false,"swaggerDoc":"","x":160,"y":280,"wires":[["ebdf9072.585b4","986c7912.d8c0a8"]]},{"id":"986c7912.d8c0a8","type":"http response","z":"f580d428.4e4768","name":"","statusCode":"201","headers":{},"x":440,"y":240,"wires":[]},{"id":"820ac735.cd08e8","type":"http in","z":"c5f66470.31a8f8","name":"","url":"/api/checks","method":"get","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["5331d38e.df6ffc"]]},{"id":"17199a67.31efc6","type":"http in","z":"c5f66470.31a8f8","name":"","url":"/api/check/:id","method":"delete","upload":false,"swaggerDoc":"","x":140,"y":640,"wires":[["9e339c5.d556b6"]]},{"id":"fb937675.df9478","type":"http response","z":"c5f66470.31a8f8","name":"","statusCode":"200","headers":{},"x":540,"y":680,"wires":[]},{"id":"35c54e9a.856452","type":"http in","z":"f580d428.4e4768","name":"","url":"/api/config","method":"put","upload":false,"swaggerDoc":"","x":160,"y":180,"wires":[["edccc95c.2e5fd8"]]},{"id":"ab532798.928e88","type":"function","z":"f580d428.4e4768","name":"update2db","func":"for (let j in msg.req.body) {\n    msg.payload[j] = msg.req.body[j];\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":180,"wires":[["986c7912.d8c0a8","ebdf9072.585b4"]]},{"id":"aa5cab65.af2ef8","type":"http in","z":"c5f66470.31a8f8","name":"","url":"/api/checkbyname/:name","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["d1be3e43.1429a"]]},{"id":"94c90b57.e6a158","type":"http response","z":"c5f66470.31a8f8","name":"","statusCode":"","headers":{},"x":1250,"y":700,"wires":[]},{"id":"121ef9d3.fe1156","type":"http in","z":"c5f66470.31a8f8","name":"","url":"/api/issues","method":"get","upload":false,"swaggerDoc":"","x":120,"y":740,"wires":[["c1e681ec.a1346"]]},{"id":"babdd40e.273868","type":"http in","z":"c5f66470.31a8f8","name":"","url":"/api/checknow/:id","method":"post","upload":false,"swaggerDoc":"","x":140,"y":840,"wires":[["17b700a2.740cef"]]},{"id":"3a9bcf6c.d53e6","type":"switch","z":"c5f66470.31a8f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":840,"wires":[["99fda5f1.7a3028","cdf9f9e.8f4f908"],["5bec4cdf.d9ff84"]]},{"id":"5bec4cdf.d9ff84","type":"http response","z":"c5f66470.31a8f8","name":"","statusCode":"404","headers":{},"x":740,"y":920,"wires":[]},{"id":"99fda5f1.7a3028","type":"link out","z":"c5f66470.31a8f8","name":"","links":["9935d41b70e7a5b7"],"x":715,"y":800,"wires":[]},{"id":"cdf9f9e.8f4f908","type":"http response","z":"c5f66470.31a8f8","name":"","statusCode":"200","headers":{},"x":740,"y":860,"wires":[]},{"id":"4c5a2e6b.80796","type":"inject","z":"7d84742.08f238c","name":"init db","repeat":"","crontab":"","once":false,"onceDelay":"0.5","topic":"","payloadType":"str","x":590,"y":120,"wires":[["e1190864.79b3e8"]]},{"id":"51a00951.563b38","type":"http in","z":"7d84742.08f238c","name":"","url":"/init","method":"post","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["f8f0c41c.700548"]]},{"id":"f5e6b40a.5c4f58","type":"http in","z":"7d84742.08f238c","name":"","url":"/init","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":260,"wires":[["f8f0c41c.700548"]]},{"id":"b55f2998.e99538","type":"comment","z":"7d84742.08f238c","name":"Init Setup","info":"","x":160,"y":140,"wires":[]},{"id":"b009af57.b5d67","type":"inject","z":"7d84742.08f238c","name":"init filters","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"categories\":[\"Yoctu\"]}","payloadType":"json","x":600,"y":340,"wires":[["61f684c7.195c7c"]]},{"id":"b2c28358.abee7","type":"file","z":"7d84742.08f238c","name":"","filename":"filters.json","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":800,"y":380,"wires":[[]]},{"id":"61f684c7.195c7c","type":"change","z":"7d84742.08f238c","name":"","rules":[{"t":"set","p":"filters","pt":"global","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":380,"wires":[["b2c28358.abee7"]]},{"id":"e1190864.79b3e8","type":"change","z":"7d84742.08f238c","name":"","rules":[{"t":"set","p":"database","pt":"global","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":180,"wires":[["1999a0ed.45a77f"]]},{"id":"9691949f.0bc798","type":"link out","z":"c5f66470.31a8f8","name":"","links":["9935d41b70e7a5b7"],"x":1215,"y":400,"wires":[]},{"id":"84a5a7f6.6d79b8","type":"switch","z":"c5f66470.31a8f8","name":"","property":"payload.force","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":400,"wires":[["9691949f.0bc798"]]},{"id":"cf1435ee.a41268","type":"change","z":"6bf330d9.f27a3","name":"db path","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('CONFIG_PATH') & \"config.json\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":180,"wires":[["e664c3b0.fce4e"]]},{"id":"e664c3b0.fce4e","type":"file","z":"6bf330d9.f27a3","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":470,"y":180,"wires":[["d085acd7.43292"]]},{"id":"14a6467c.b1192a","type":"change","z":"2c4dd4ee.225fac","name":"db path","rules":[{"t":"set","p":"filename","pt":"msg","to":"$env('DB_PATH') & \"database.json\"","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"database","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":160,"wires":[["6bf66a8c.abad34"]]},{"id":"6bf66a8c.abad34","type":"file","z":"2c4dd4ee.225fac","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":530,"y":160,"wires":[[]]},{"id":"1999a0ed.45a77f","type":"subflow:2c4dd4ee.225fac","z":"7d84742.08f238c","name":"","x":790,"y":180,"wires":[]},{"id":"f8f0c41c.700548","type":"template","z":"7d84742.08f238c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":340,"y":220,"wires":[["e1190864.79b3e8","61f684c7.195c7c","288a9c11.d85044"]]},{"id":"c696ef09.f989e","type":"subflow:2c4dd4ee.225fac","z":"c5f66470.31a8f8","name":"","x":730,"y":600,"wires":[]},{"id":"97dda1bf.34045","type":"subflow:2c4dd4ee.225fac","z":"c5f66470.31a8f8","name":"","x":550,"y":640,"wires":[]},{"id":"ebdf9072.585b4","type":"subflow:6bf330d9.f27a3","z":"f580d428.4e4768","name":"","x":740,"y":280,"wires":[]},{"id":"8968d2a3.26f41","type":"change","z":"f580d428.4e4768","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"config","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":80,"wires":[["f6c1a8f0.b61ee8"]]},{"id":"d085acd7.43292","type":"change","z":"6bf330d9.f27a3","name":"","rules":[{"t":"set","p":"config","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":180,"wires":[[]]},{"id":"a3223d5c.5b20f","type":"inject","z":"7d84742.08f238c","name":"init config","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":560,"y":260,"wires":[["288a9c11.d85044"]]},{"id":"d656fee3.16db7","type":"change","z":"f580d428.4e4768","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tz\":\"UTC\",\"smtp\":{},\"webhooks\":[],\"prometheus\":{},\"elastic\":{\"url\":\"\",\"method\":\"\"},\"yoctu\":{\"url\":\"\",\"header\":\"\",\"recipient\":\"\",\"sender\":\"\"},\"webhook\":{\"url\":\"\",\"header\":\"\",\"method\":\"POST\",\"payload\":\"\"},\"ws\":{\"url\":\"/ws\"}}","tot":"json"},{"t":"set","p":"config","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":360,"wires":[["ebdf9072.585b4","52816ca7.863464"]]},{"id":"a140920f.f162e","type":"http in","z":"f580d428.4e4768","name":"","url":"/api/config","method":"delete","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["d656fee3.16db7"]]},{"id":"df7e3669.4daa68","type":"http response","z":"f580d428.4e4768","name":"","statusCode":"201","headers":{},"x":820,"y":360,"wires":[]},{"id":"288a9c11.d85044","type":"link out","z":"7d84742.08f238c","name":"","links":["526db305.6ad03c"],"x":715,"y":220,"wires":[]},{"id":"526db305.6ad03c","type":"link in","z":"f580d428.4e4768","name":"","links":["288a9c11.d85044","d513e7e1.84b568"],"x":215,"y":400,"wires":[["d656fee3.16db7"]]},{"id":"edccc95c.2e5fd8","type":"change","z":"f580d428.4e4768","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"config","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":180,"wires":[["ab532798.928e88"]]},{"id":"2596d6c1.8d706a","type":"inject","z":"7d84742.08f238c","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":170,"y":380,"wires":[["716266c1.499b98","16cc9bed.5bfc94","746f1dd257a1346f"]]},{"id":"716266c1.499b98","type":"subflow:26a0ef59.a800f","z":"7d84742.08f238c","name":"","x":340,"y":380,"wires":[[]]},{"id":"ac27d785.695c68","type":"catch","z":"7d84742.08f238c","name":"missing config","scope":["716266c1.499b98"],"uncaught":false,"x":570,"y":300,"wires":[["288a9c11.d85044"]]},{"id":"52816ca7.863464","type":"switch","z":"f580d428.4e4768","name":"","property":"req","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":360,"wires":[["df7e3669.4daa68"]]},{"id":"16cc9bed.5bfc94","type":"subflow:129e609e.f5085f","z":"7d84742.08f238c","name":"","x":340,"y":440,"wires":[]},{"id":"facdebb0.62e638","type":"catch","z":"7d84742.08f238c","name":"","scope":["16cc9bed.5bfc94"],"uncaught":false,"x":410,"y":140,"wires":[["e1190864.79b3e8"]]},{"id":"912b6f5.36e499","type":"change","z":"129e609e.f5085f","name":"","rules":[{"t":"set","p":"database","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":260,"wires":[[]]},{"id":"d1be3e43.1429a","type":"change","z":"c5f66470.31a8f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"database","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":100,"wires":[["6a5912e6b7756e99"]]},{"id":"716d8604.d37e98","type":"change","z":"c5f66470.31a8f8","name":"set database","rules":[{"t":"set","p":"check","pt":"msg","to":"database[msg.req.params.id]","tot":"global"},{"t":"set","p":"check.active","pt":"msg","to":"$exists(msg.payload.active) ? $number(msg.payload.active) : msg.check.active","tot":"jsonata"},{"t":"set","p":"check.force","pt":"msg","to":"$exists(msg.payload.force) ? $number(msg.payload.force) : msg.check.force","tot":"jsonata"},{"t":"set","p":"check.cron","pt":"msg","to":"$exists(msg.payload.cron) ?  $number(msg.payload.cron) : msg.check.cron ","tot":"jsonata"},{"t":"set","p":"check.header","pt":"msg","to":"$exists(msg.payload.header) ?  msg.payload.header : msg.check.header ","tot":"jsonata"},{"t":"set","p":"check.method","pt":"msg","to":"$exists(msg.payload.method) ?  $string(msg.payload.method) : msg.check.method ","tot":"jsonata"},{"t":"set","p":"check.url","pt":"msg","to":"$exists(msg.payload.url) ?  $string(msg.payload.url) : msg.check.url ","tot":"jsonata"},{"t":"set","p":"check.status","pt":"msg","to":"$exists(msg.payload.status) ?  $number(msg.payload.status) : msg.check.status ","tot":"jsonata"},{"t":"set","p":"check.name","pt":"msg","to":"$exists(msg.payload.name) ?  $string(msg.payload.name) : msg.check.name ","tot":"jsonata"},{"t":"set","p":"database[msg.req.params.id]","pt":"global","to":"check","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":560,"wires":[["c696ef09.f989e","ca5f251b.4072b8"]]},{"id":"9e339c5.d556b6","type":"change","z":"c5f66470.31a8f8","name":"delete check","rules":[{"t":"delete","p":"database[msg.req.params.id]","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":640,"wires":[["97dda1bf.34045","fb937675.df9478"]]},{"id":"c1e681ec.a1346","type":"change","z":"c5f66470.31a8f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"database","tot":"global"},{"t":"set","p":"statusCode","pt":"msg","to":"200","tot":"num"},{"t":"set","p":"result","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":740,"wires":[["57eae17ba39e83d2"]]},{"id":"17b700a2.740cef","type":"change","z":"c5f66470.31a8f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"database[msg.req.params.id]","tot":"global"},{"t":"set","p":"payload.date","pt":"msg","to":"\"2021-01-01T16:05:56.894Z\"","tot":"str"},{"t":"set","p":"payload.force","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":840,"wires":[["3a9bcf6c.d53e6"]]},{"id":"15763a50.721ca6","type":"change","z":"c5f66470.31a8f8","name":"","rules":[{"t":"set","p":"payload.id","pt":"msg","to":"$millis()","tot":"jsonata"},{"t":"set","p":"payload.created_at","pt":"msg","to":"$now()","tot":"jsonata"},{"t":"set","p":"database[msg.payload.id]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":360,"wires":[["14679b05.c929b5","6202364c94c903e2","84a5a7f6.6d79b8"]]},{"id":"8d65d30de9df0ba0","type":"file","z":"7d84742.08f238c","name":"save settings.js","filename":"/data/settings.js","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":620,"y":580,"wires":[[]]},{"id":"06c743ca60f3b01e","type":"inject","z":"7d84742.08f238c","name":"inject settings.js","props":[{"p":"NR_USERNAME","v":"klh","vt":"str"},{"p":"NR_PASSWORD","v":"$2a$08$35c5jQXpCe5JkM8q2nCygOq0.wHt9L.pw/lZuvK.BJ/2DNQXJOTNS","vt":"str"},{"p":"API_USERNAME","v":"admin","vt":"str"},{"p":"API_PASSWORD","v":"$2a$08$T1Wbe1VrRixbx.ydAQhKlO1OZPiaw.I6bdBshUbuG2.9QFdknLSHe","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":176.5,"y":580,"wires":[["60a3ca048d2514bc"]]},{"id":"60a3ca048d2514bc","type":"template","z":"7d84742.08f238c","name":"settings.js","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"module.exports = {\n    uiPort: process.env.PORT || 1880,\n    mqttReconnectTime: 15000,\n    serialReconnectTime: 15000,\n    debugMaxLength: 1000,\n    functionGlobalContext: {\n    },\n    exportGlobalContextKeys: false,\n    logging: {\n        console: {\n            level: \"info\",\n            metrics: false,\n            audit: false\n        }\n    },\n    credentialSecret: \"yoctu-secret\",\n    httpNodeCors: {\n      \"origin\": \"*\",\n      \"methods\": \"GET,HEAD,PUT,PATCH,POST,DELETE\",\n      \"preflightContinue\": false,\n      \"optionsSuccessStatus\": 204\n    },\n    httpNodeAuth: {\n        user: \"{{{API_USERNAME}}}\",\n        pass: \"{{{API_PASSWORD}}}\"\n    },\n    httpAdminRoot: '/nodered',\n    adminAuth: {\n        type: \"credentials\",\n        users: [{\n            username: \"{{{NR_USERNAME}}}\",\n            password: \"{{{NR_PASSWORD}}}\",\n            permissions: \"*\"\n        }]\n    },\n    editorTheme: {\n        projects: {\n            enabled: false\n        }\n    }\n}","output":"str","x":400,"y":580,"wires":[["8d65d30de9df0ba0","130eac21567b1045"]]},{"id":"e925b9eaad52956b","type":"comment","z":"7d84742.08f238c","name":"Settings","info":"Default admin/password login","x":140,"y":520,"wires":[]},{"id":"68598f0145c8a5c4","type":"change","z":"c5f66470.31a8f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"database[msg.req.params.id]","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["27707a55ceb10b34"]]},{"id":"6f3899ac4fa6aef0","type":"change","z":"c5f66470.31a8f8","name":"","rules":[{"t":"set","p":"error","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"error.status","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"payload.active","pt":"msg","to":"$exists(msg.payload.active) ? $number(msg.payload.active) : 1","tot":"jsonata"},{"t":"set","p":"payload.force","pt":"msg","to":"$exists(msg.payload.force) ? $number(msg.payload.force) : 0","tot":"jsonata"},{"t":"set","p":"error.status","pt":"msg","to":"$number($not(msg.payload.name and msg.payload.status and msg.payload.url))","tot":"jsonata"},{"t":"set","p":"payload.statusCode","pt":"msg","to":"600","tot":"num"},{"t":"set","p":"payload.date","pt":"msg","to":"$now()","tot":"jsonata"},{"t":"set","p":"payload.status","pt":"msg","to":"$number(msg.payload.status)","tot":"jsonata"},{"t":"set","p":"payload.cron","pt":"msg","to":"$number(msg.payload.cron)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":380,"wires":[["6c7c1c96.f2bb94"]]},{"id":"27707a55ceb10b34","type":"switch","z":"c5f66470.31a8f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":220,"wires":[["5e9877cd5668615d"],["7288549657e25e55"]]},{"id":"5332e7dbc8b65386","type":"http response","z":"c5f66470.31a8f8","name":"","statusCode":"200","headers":{},"x":1180,"y":100,"wires":[]},{"id":"5e9877cd5668615d","type":"http response","z":"c5f66470.31a8f8","name":"","statusCode":"404","headers":{},"x":1180,"y":220,"wires":[]},{"id":"57eae17ba39e83d2","type":"split","z":"c5f66470.31a8f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":740,"wires":[["d4d064e1832f45a8"]]},{"id":"4fa57d21cd97d2f7","type":"join","z":"c5f66470.31a8f8","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"$number(msg.payload.statusCode) = $number(msg.payload.status) ? \"\" : msg.payload","reduceInit":"[]","reduceInitType":"json","reduceFixup":"","x":910,"y":700,"wires":[["71ce7a47b4781ab2"]]},{"id":"9384f0637a1a13d7","type":"change","z":"c5f66470.31a8f8","name":"","rules":[{"t":"set","p":"result","pt":"msg","to":"$append(msg.result, msg.payload)","tot":"jsonata"},{"t":"set","p":"statusCode","pt":"msg","to":"503","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":760,"wires":[["4fa57d21cd97d2f7"]]},{"id":"d4d064e1832f45a8","type":"switch","z":"c5f66470.31a8f8","name":"","property":"$number(payload.status)","propertyType":"jsonata","rules":[{"t":"eq","v":"$number(payload.statusCode)","vt":"jsonata"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":740,"wires":[["4fa57d21cd97d2f7"],["9384f0637a1a13d7"]]},{"id":"c080c2754847094e","type":"http response","z":"af8756fb19d0b3c0","name":"","statusCode":"200","headers":{},"x":1160,"y":80,"wires":[]},{"id":"4e23a2310e7f6baa","type":"http in","z":"af8756fb19d0b3c0","name":"","url":"/api/export","method":"get","upload":false,"swaggerDoc":"","x":160,"y":80,"wires":[["4693c7b6fecf19a9"]]},{"id":"955a27686806e2c4","type":"http in","z":"af8756fb19d0b3c0","name":"","url":"/api/import","method":"post","upload":true,"swaggerDoc":"","x":160,"y":160,"wires":[["d7a902a75ceb4bd8"]]},{"id":"53dcbc6daf59cf0c","type":"template","z":"af8756fb19d0b3c0","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta http-equiv=\"refresh\" content=\"1;URL=/\">    \n    </head>\n    <body>\n        <p>File {{name}} uploaded !</p>\n    </body>\n</html>\n","output":"str","x":590,"y":200,"wires":[["ce494edcc11eec73"]]},{"id":"d7a902a75ceb4bd8","type":"function","z":"af8756fb19d0b3c0","name":"toBase64","func":"msg.name = msg.req.files[0].originalname;\nmsg.payload = msg.req.files[0].buffer.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":160,"wires":[["53dcbc6daf59cf0c","d23ca4128ae33bd8"]]},{"id":"ce494edcc11eec73","type":"http response","z":"af8756fb19d0b3c0","name":"","statusCode":"302","headers":{},"x":820,"y":200,"wires":[]},{"id":"4693c7b6fecf19a9","type":"change","z":"af8756fb19d0b3c0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"database","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"[]","tot":"json"},{"t":"set","p":"headers['content-type']","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"headers['Content-Disposition']","pt":"msg","to":"attachment; filename=export.json","tot":"str"},{"t":"set","p":"headers['Pragma']","pt":"msg","to":"no-cache","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[["6d8818aa980c7e1f"]]},{"id":"6638081c6fcee417","type":"split","z":"129e609e.f5085f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":300,"y":260,"wires":[["b29ee1694c225142"]]},{"id":"b29ee1694c225142","type":"join","z":"129e609e.f5085f","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"payload.id","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":260,"wires":[["912b6f5.36e499"]]},{"id":"6202364c94c903e2","type":"subflow:2c4dd4ee.225fac","z":"c5f66470.31a8f8","name":"","x":1000,"y":460,"wires":[]},{"id":"0e63ab8d0bf001f6","type":"change","z":"c5f66470.31a8f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"database","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":320,"wires":[["1d159b8fbe890598"]]},{"id":"a782e36d86958cc6","type":"split","z":"c5f66470.31a8f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":870,"y":320,"wires":[["2e554984239a5419"]]},{"id":"2e554984239a5419","type":"join","z":"c5f66470.31a8f8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload.id","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":320,"wires":[["b29a781.a9b5588"]]},{"id":"746f1dd257a1346f","type":"change","z":"7d84742.08f238c","name":"version","rules":[{"t":"set","p":"version","pt":"global","to":"1.1.0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":320,"wires":[[]]},{"id":"1d159b8fbe890598","type":"switch","z":"c5f66470.31a8f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":320,"wires":[["7288549657e25e55"],["a782e36d86958cc6"]]},{"id":"7288549657e25e55","type":"http response","z":"c5f66470.31a8f8","name":"","statusCode":"200","headers":{},"x":1040,"y":260,"wires":[]},{"id":"6a5912e6b7756e99","type":"split","z":"c5f66470.31a8f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":100,"wires":[["355e50bf62edda98"]]},{"id":"355e50bf62edda98","type":"switch","z":"c5f66470.31a8f8","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"req.params.name","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":100,"wires":[["c3383a48c55e7f9b"],["228ad7901ef845b6"]]},{"id":"c3383a48c55e7f9b","type":"join","z":"c5f66470.31a8f8","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":960,"y":100,"wires":[["5332e7dbc8b65386"]]},{"id":"228ad7901ef845b6","type":"join","z":"c5f66470.31a8f8","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":770,"y":160,"wires":[["86eeb79c6befb5d6"]]},{"id":"86eeb79c6befb5d6","type":"change","z":"c5f66470.31a8f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":160,"wires":[["5e9877cd5668615d"]]},{"id":"730d28a038635654","type":"split","z":"af8756fb19d0b3c0","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":40,"wires":[["29b74f3c5372ccf3"]]},{"id":"0d273d43ba2ab051","type":"join","z":"af8756fb19d0b3c0","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":40,"wires":[["c080c2754847094e"]]},{"id":"6d8818aa980c7e1f","type":"switch","z":"af8756fb19d0b3c0","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":80,"wires":[["730d28a038635654"],["5d4bba4128323ca6"]]},{"id":"5d4bba4128323ca6","type":"change","z":"af8756fb19d0b3c0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":80,"wires":[["c080c2754847094e"]]},{"id":"ed2684065b2f8e9b","type":"subflow:2c4dd4ee.225fac","z":"af8756fb19d0b3c0","name":"","x":1230,"y":140,"wires":[]},{"id":"82030af8021e1a7b","type":"split","z":"af8756fb19d0b3c0","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":140,"wires":[["f3ac0c86851d139f"]]},{"id":"f3ac0c86851d139f","type":"join","z":"af8756fb19d0b3c0","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"payload.id","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":140,"wires":[["cffbcc29c626138d"]]},{"id":"d23ca4128ae33bd8","type":"json","z":"af8756fb19d0b3c0","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":140,"wires":[["82030af8021e1a7b"]]},{"id":"cffbcc29c626138d","type":"change","z":"af8756fb19d0b3c0","name":"","rules":[{"t":"set","p":"database","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":140,"wires":[["ed2684065b2f8e9b"]]},{"id":"29b74f3c5372ccf3","type":"change","z":"af8756fb19d0b3c0","name":"","rules":[{"t":"set","p":"payload.force","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":40,"wires":[["0d273d43ba2ab051"]]},{"id":"93dd2934f717b096","type":"http in","z":"c5f66470.31a8f8","name":"","url":"/api/checks","method":"post","upload":false,"swaggerDoc":"","x":120,"y":460,"wires":[["a8690a7077d20176"]]},{"id":"a8690a7077d20176","type":"split","z":"c5f66470.31a8f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":320,"y":460,"wires":[["c4c004b033df0e41"]]},{"id":"1bb70cf55847b98a","type":"join","z":"c5f66470.31a8f8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"payload.id","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":460,"wires":[["6202364c94c903e2","14679b05.c929b5"]]},{"id":"c4c004b033df0e41","type":"change","z":"c5f66470.31a8f8","name":"","rules":[{"t":"set","p":"payload.force","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.date","pt":"msg","to":"$now() + msg.parts.index * 10000","tot":"jsonata"},{"t":"set","p":"payload.statusCode","pt":"msg","to":"600","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":460,"wires":[["1bb70cf55847b98a"]]},{"id":"130eac21567b1045","type":"debug","z":"7d84742.08f238c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":660,"wires":[]},{"id":"946b382966c81781","type":"http in","z":"c5f66470.31a8f8","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["8d28260366fb4b9e"]]},{"id":"f9eb45ad8904f58b","type":"http response","z":"c5f66470.31a8f8","name":"","statusCode":"","headers":{},"x":530,"y":40,"wires":[]},{"id":"8d28260366fb4b9e","type":"change","z":"c5f66470.31a8f8","name":"","rules":[{"t":"set","p":"payload.version","pt":"msg","to":"version","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":40,"wires":[["f9eb45ad8904f58b"]]},{"id":"ced7cad8bf259b4e","type":"inject","z":"98c47dc355a25b82","name":"Cron","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"database","payloadType":"global","x":150,"y":40,"wires":[["459a224950b9d91d","c58bfa08f3fb3540"]]},{"id":"459a224950b9d91d","type":"split","z":"98c47dc355a25b82","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":290,"y":100,"wires":[["ee4b3dc5b195259d"]]},{"id":"8c92711b1e70f84c","type":"http request","z":"98c47dc355a25b82","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":180,"wires":[["0d7f80daa3ee4c1e"]]},{"id":"4585527c472a779c","type":"http request","z":"98c47dc355a25b82","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":460,"wires":[[]]},{"id":"11fcd82c64974e2b","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"url","pt":"msg"},{"t":"delete","p":"payload.url","pt":"msg"},{"t":"delete","p":"name","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":180,"wires":[["0c7c01997727ab70","124e5b148b9a4bd0","497ee8802b824262"]]},{"id":"cc69ced8bc98b745","type":"switch","z":"98c47dc355a25b82","name":"elastic","property":"config.elastic.url","propertyType":"global","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":400,"wires":[["6387e9aa992dfef5"]]},{"id":"d44a38e401680c62","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"config.elastic.url","tot":"global"},{"t":"set","p":"method","pt":"msg","to":"config.elastic.method","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"notificationData","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":460,"wires":[["4585527c472a779c"]]},{"id":"89b79d142f9f35c5","type":"switch","z":"98c47dc355a25b82","name":"webhook","property":"config.webhook.url","propertyType":"global","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":520,"wires":[["64173e9b961e3ffe"]]},{"id":"b2e16198b0020b6d","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"config.webhook.url","tot":"global"},{"t":"set","p":"method","pt":"msg","to":"config.webhook.method","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"config.webhook.payload","tot":"global"},{"t":"set","p":"headers","pt":"msg","to":"config.webhook.header","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":520,"wires":[["7bddf5d747779048"]]},{"id":"7bddf5d747779048","type":"http request","z":"98c47dc355a25b82","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":520,"wires":[[]]},{"id":"64173e9b961e3ffe","type":"json","z":"98c47dc355a25b82","name":"","property":"config.webhook.header","action":"obj","pretty":false,"x":530,"y":520,"wires":[["4d8c5ad9ce059de8"]]},{"id":"745d62b1d9a7b760","type":"switch","z":"98c47dc355a25b82","name":"mail","property":"config.yoctu.url","propertyType":"global","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":620,"wires":[["a6e409fe64e0f27f"]]},{"id":"113b233f26ec3e79","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"config.yoctu.url","tot":"global"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"config.yoctu.header","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":680,"wires":[["5f3b7b1c8a26ce49"]]},{"id":"5f3b7b1c8a26ce49","type":"http request","z":"98c47dc355a25b82","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":680,"wires":[[]]},{"id":"28e28ce8922e4b7e","type":"json","z":"98c47dc355a25b82","name":"","property":"config.yoctu.header","action":"obj","pretty":false,"x":710,"y":620,"wires":[["46d499f4c4c5dd4f"]]},{"id":"4a84dbc794c877c7","type":"function","z":"98c47dc355a25b82","name":"Set Payload","func":"const quote = function (string) {\n    const escapeChars = [\n        '\\u0000-\\u001f',\n        '\\u002b',\n        '\\u0026',\n        '\\u007f-\\u009f',\n        '\\u00ad',\n        '\\u0600-\\u0604',\n        '\\u070f',\n        '\\u17b4',\n        '\\u17b5',\n        '\\u200c-\\u200f',\n        '\\u2028-\\u202f',\n        '\\u2060-\\u206f',\n        '\\ufeff',\n        '\\ufff0-\\uffff'\n    ].join('');\n    \n    const escapable = new RegExp('[\\\\\"' + escapeChars + ']', 'g');\n    \n    return escapable.test(string) ? string.replace(escapable, function (a) {\n        return typeof c === 'string' ? c : '\\\\u' + ('0000' + a.charCodeAt(0).toString(16)).slice(-4);\n    }) : string;\n};\n\nmsg.mailpayload = {};\n\nif (!msg.notificationData.healthy) {\n    msg.mailpayload.subject = 'Service down ' + msg.notificationData.name;\n} else {\n    msg.mailpayload.subject = 'Service up ' + msg.notificationData.name;\n}\nmsg.mailpayload.html_body = quote(msg.template);\n\nmsg.mailpayload.sender = {}\nmsg.mailpayload.sender[msg.config.yoctu.sender] = msg.config.yoctu.sender\n\nmsg.mailpayload.recipients = {}\nmsg.mailpayload.recipients[msg.config.yoctu.recipient] = msg.config.yoctu.recipient; \n\nmsg.payload = 'mail=' + JSON.stringify(msg.mailpayload).replace(/\\\\\\\\u/gm, `\\\\u`);\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":680,"wires":[["113b233f26ec3e79"]]},{"id":"6387e9aa992dfef5","type":"json","z":"98c47dc355a25b82","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":400,"wires":[["d44a38e401680c62"]]},{"id":"919ee390935f3155","type":"link in","z":"98c47dc355a25b82","name":"checknow","links":["99fda5f1.7a3028","9691949f.0bc798","99bdce49.d16eb","6f46da3b.961f94"],"x":1155,"y":40,"wires":[["318b057052690d7e"]]},{"id":"d8da950d81b41d08","type":"inject","z":"98c47dc355a25b82","name":"Notification","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"database","payloadType":"global","x":100,"y":540,"wires":[["63ce6ab585b73ff8"]]},{"id":"46d499f4c4c5dd4f","type":"template","z":"98c47dc355a25b82","name":"","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n</head>\n<body>\n  Url : {{ notificationData.url }}\n  </br>\n  <pre>{{ notificationData.response }}</pre>\n</body>\n</html>","output":"str","x":860,"y":620,"wires":[["4a84dbc794c877c7"]]},{"id":"318b057052690d7e","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"set","p":"check","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"},{"t":"set","p":"name","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"method","pt":"msg","to":"payload.method","tot":"msg"},{"t":"set","p":"headers","pt":"msg","to":"msg.payload.header != \"\" ? msg.payload.header : {}","tot":"jsonata"},{"t":"set","p":"check.date","pt":"msg","to":"$now()","tot":"jsonata"},{"t":"set","p":"database[msg.check.id]","pt":"global","to":"check","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":100,"wires":[["afee8172397947d1","9ee208a3a76f3290"]]},{"id":"0d7f80daa3ee4c1e","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"set","p":"notificationData","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"notificationData[\"statusCodeExpected\"]","pt":"msg","to":"check.status","tot":"msg"},{"t":"set","p":"notificationData[\"healthy\"]","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"check.date","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[["de24a1ad7a0dfecd"]]},{"id":"de24a1ad7a0dfecd","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"set","p":"database[msg.check.id]","pt":"global","to":"check","tot":"msg"},{"t":"set","p":"notificationData[\"statusCode\"]","pt":"msg","to":"statusCode","tot":"msg"},{"t":"set","p":"notificationData[\"url\"]","pt":"msg","to":"url","tot":"msg"},{"t":"set","p":"notificationData[\"response\"]","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"notificationData['name']","pt":"msg","to":"name","tot":"msg"},{"t":"set","p":"notificationData['healthy']","pt":"msg","to":"(($number(msg.check.status) != $number(msg.statusCode)) and ($number(msg.statusCode) != $number(msg.check.statusCode)) and ($number(msg.check.statusCode) != 600)) ? false : true\t","tot":"jsonata"},{"t":"set","p":"notificationData['backtohealthy']","pt":"msg","to":"($number(msg.check.status) != $number(msg.check.statusCode)) and ($number(msg.check.statusCode) != 600) and ($number(msg.check.status) = $number(msg.statusCode)) ? true : false","tot":"jsonata"},{"t":"set","p":"notificationData['WShealthy']","pt":"msg","to":"(($number(msg.check.status) != $number(msg.statusCode)) and ($number(msg.check.statusCode) != 600)) ? false : true\t","tot":"jsonata"},{"t":"set","p":"check.statusCode","pt":"msg","to":"statusCode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":180,"wires":[["11fcd82c64974e2b"]]},{"id":"2662b1c938b1f552","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"check","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":300,"wires":[["89b79d142f9f35c5","745d62b1d9a7b760"]]},{"id":"efa63efd77f6e845","type":"websocket out","z":"98c47dc355a25b82","name":"","server":"06afd692f88faa11","client":"","x":1180,"y":400,"wires":[]},{"id":"cbb27d3921eeb568","type":"switch","z":"98c47dc355a25b82","name":"ws","property":"config.ws.url","propertyType":"global","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":400,"wires":[["909c769f71b66603"]]},{"id":"0c7c01997727ab70","type":"switch","z":"98c47dc355a25b82","name":"log single down","property":"notificationData['healthy']","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":140,"y":240,"wires":[["2662b1c938b1f552"]]},{"id":"ee4b3dc5b195259d","type":"join","z":"98c47dc355a25b82","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":430,"y":100,"wires":[["f6521b422e095638"]]},{"id":"f6521b422e095638","type":"split","z":"98c47dc355a25b82","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":100,"wires":[["9715f176a699cde9"]]},{"id":"354976b12247c897","type":"inject","z":"98c47dc355a25b82","name":"Manual","props":[{"p":"payload"},{"p":"auto","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"database","payloadType":"global","x":150,"y":100,"wires":[["459a224950b9d91d"]]},{"id":"8fa03e3e15d51124","type":"switch","z":"98c47dc355a25b82","name":"","property":"auto","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":40,"wires":[["318b057052690d7e"],["d916ce62b19579ca"]]},{"id":"912de9614cccb689","type":"inject","z":"98c47dc355a25b82","name":"Save","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"{ \"action\": \"save\" }","payloadType":"json","x":970,"y":460,"wires":[["efa63efd77f6e845","4d3913f78937e21c"]]},{"id":"4d3913f78937e21c","type":"subflow:2c4dd4ee.225fac","z":"98c47dc355a25b82","name":"","x":1170,"y":460,"wires":[]},{"id":"63ce6ab585b73ff8","type":"split","z":"98c47dc355a25b82","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":110,"y":480,"wires":[["3b70252910398188"]]},{"id":"3b70252910398188","type":"join","z":"98c47dc355a25b82","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":110,"y":420,"wires":[["705b6d9c4f730dd4"]]},{"id":"705b6d9c4f730dd4","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"set","p":"check","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":360,"wires":[["2662b1c938b1f552"]]},{"id":"909c769f71b66603","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"action\": \"error\", \"data\": msg.payload }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":400,"wires":[["efa63efd77f6e845"]]},{"id":"898fa170809d119d","type":"websocket out","z":"98c47dc355a25b82","name":"","server":"06afd692f88faa11","client":"","x":1260,"y":160,"wires":[]},{"id":"afee8172397947d1","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"action\": \"cron\", \"data\": msg.payload }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":180,"wires":[["898fa170809d119d"]]},{"id":"9715f176a699cde9","type":"switch","z":"98c47dc355a25b82","name":"","property":"payload.active","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":40,"wires":[["8fa03e3e15d51124"]]},{"id":"d916ce62b19579ca","type":"switch","z":"98c47dc355a25b82","name":"CRON","property":"($millis() - $toMillis(msg.payload.date)) > $number(msg.payload.cron) * 60000","propertyType":"jsonata","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":100,"wires":[["318b057052690d7e"],[]]},{"id":"c58bfa08f3fb3540","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"action\": \"run\" }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":40,"wires":[["b1c53aec6299880a"]]},{"id":"b1c53aec6299880a","type":"websocket out","z":"98c47dc355a25b82","name":"","server":"06afd692f88faa11","client":"","x":540,"y":40,"wires":[]},{"id":"9ee208a3a76f3290","type":"json","z":"98c47dc355a25b82","name":"","property":"headers","action":"obj","pretty":false,"x":110,"y":180,"wires":[["8c92711b1e70f84c"]]},{"id":"124e5b148b9a4bd0","type":"switch","z":"98c47dc355a25b82","name":"log all down","property":"notificationData['WShealthy']","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":240,"wires":[["512ce420b9ef23c3"]]},{"id":"512ce420b9ef23c3","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"check","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":300,"wires":[["cbb27d3921eeb568","cc69ced8bc98b745"]]},{"id":"4d8c5ad9ce059de8","type":"json","z":"98c47dc355a25b82","name":"","property":"config.webhook.payload","action":"obj","pretty":false,"x":650,"y":520,"wires":[["b2e16198b0020b6d"]]},{"id":"a6e409fe64e0f27f","type":"change","z":"98c47dc355a25b82","name":"","rules":[{"t":"set","p":"config","pt":"msg","to":"config","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":620,"wires":[["28e28ce8922e4b7e"]]},{"id":"497ee8802b824262","type":"switch","z":"98c47dc355a25b82","name":"log back to healthy","property":"notificationData['backtohealthy']","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":240,"wires":[["2662b1c938b1f552","512ce420b9ef23c3"]]},{"id":"71ce7a47b4781ab2","type":"change","z":"c5f66470.31a8f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"result","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":700,"wires":[["94c90b57.e6a158"]]}]